[2020-11-06 04:40] andrew2915 opened #2 "Registered voters & number of ballots"
Very Cool Project. Could you also plot the distribution of leading digits in the number of registered voters and number of ballots per voting district?

In cities where the votes are heavily skewed to one candidate or another, the distribution of leading digits of votes for that candidate should be highly correlated to the leading digit of the number of ballots. Would number of registered voters a

[2020-11-06 05:22] code-issues-pull opened #3 "2016 and 2012 comparisons"
It would be interesting to see these same districts compared to the 2016 results and the 2012 results (where an incumbent was running).

[2020-11-06 07:33] FraudAnalysis opened #4 "Code to mass process the data"
I combined the toolkit I've been building for the last few days with your data and some of the processing code. Not sure if this is something you'd be interested in, but I can put together a PR to add the script to the repo.  You can take a look here, it's not as pretty as your code, but it is tested and works. Results have been compared with other benford py libraries. Here's the link: https://gi

[2020-11-06 13:13] sfxworks opened #5 "Failure to take account for external factors"
- Covid caused the mail-in voting rate to rise.
- Counties counted votes at different rates due to the surplus of mail-in ballots vs the standard rate using an electronic system.
- Mail-in voting discouraged by the republican candidate. As a result, one side was more likely to cast in-person using such a system at a poll location.

Don't get me wrong; this looks well written. However, this could d

[2020-11-06 13:52] PendragonDay commented on #5
The data for the Libertarian candidate paints the picture.

[2020-11-06 13:57] sfxworks commented on #5
@PendragonDay I would argue that that isn't a large enough sample size / accurate correlation for a control group for a number of reasons. For example, a vote includes an individual's will to see the voter's ideal come to life. Unfortunentally a lot of voters do not go for minority parties even if they align with their ideals due to their failure rate and side with a major party as an alternative.

[2020-11-06 14:25] zigster64 opened #6 "Analyze same data with different base values"
Given that with Benford's law :

- Clarity should (?) improve as the spread of values increases
- The law still holds for any given base

Would be interesting to cross reference the same input data sets with using bases other than 10

something like
np.logX(1 + 1/digit) * N

where X is a range of numbers say [2..16]

So if you generated a range of graphs across the same data with different base si

[2020-11-06 14:39] ghost commented on #5
The most important external factor is precinct size, which is unlikely to be a random number in large cities.

I just ran a simple Benford analysis in Excel using data from the 2019 Norwegian election. The results of my analysis looked very suspicious for the county of Oslo. However, looking more closely at the data it turned out that the precincts quite consistently supported 2000-8000 eligible v

[2020-11-06 14:52] ghost commented on #3
Agreed, but remember that the distribution of precinct sizes is unlikely to be random. If precincts e.g. have a median of 9,000 eligible voters (with a certain distribution, e.g. Gaussian, and a certain standard deviation) then someone who quite consistently gains 60% of that vote should be expected to get around 5,000 votes in each precinct, again with a certain standard deviation. This calls the

[2020-11-06 15:18] ghost commented on #5
To be more specific, if you look at the Biden diagram for each of Chicago, Milwaukee and Allegheny, there seems to be a Gaussian distribution with an expected value of about 3-5.

Let me try to explain why this happens: If (1) politicians for practical resasons tend to divide each precinct so that they have an average of 5,000-8,000 voters (e.g. due to the use of public schools as voting venues);

[2020-11-06 20:51] JacobRPrice opened #7 "Plans for expansion?"
Are there plans of expanding this project to include every county/division/voting unit in the country? I think there's value in it and would hash out some of the concerns in Issue #5.

I'd also suggest including documentation about where the data can be obtained as well.

If there's interest in carrying out a similar analysis in R I could devote some time.

[2020-11-06 20:57] mary1268 commented on #7
I don't have the brain width to figure out.  But Cobb County GA has a weird dynamic so if someone could run the Xtest and the pvalues I would be curious!

Thank you!

Mary Johnson, CPA

404-324-3253

[2020-11-06 21:23] ghost commented on #5
https://imgur.com/a/LPjXX92

The histograms above show that the voter size distributions will necessarily lead to contradictions with Benford's Law, due to their similarity in sizes.

The votes cast per area do not span the requisite orders of magnitude for Benford's Law to apply. You are outside the use-case and are mis-applying Benford's Law. @testes-t explaination is a good analogy.

[2020-11-06 21:27] CollinQuiason opened #8 "What is the typical variance for applications of Benford's law?"
My question is does Benford's law have high variance when observing any individual dataset?  This could explain any abnormalities or possibility strengthen a claim that this dataset appears irregular.

[2020-11-06 22:56] mary1268 commented on #7
Here is my Benford file for Cobb County GA - Just flipped for the Democrats.

Mary Johnson, CPA

404-324-3253

[2020-11-07 00:00] MechanicalTim opened #9 "Looking at vote counts instead of first digits shows why this is not evidence of fraud"
I suggest you plot a histograms of the vote counts per precinct, along with the histograms of the first digits. You will see _immediately_ that these are not evidence of voter fraud, or even examples of data that _should_ obey Benford's Law.

Instead, what you will see is that counties like Allegheny were chosen, where Biden almost always got more than 200 votes per precinct, and Trump did not. So

[2020-11-07 01:38] dogweather commented on #9
I think that running the code on the **second** digit (which also must follow the law) can control for this problem. ?

[2020-11-07 01:38] dogweather commented on #6
Just use the second digit instead of the first.

[2020-11-07 02:56] dogweather opened #10 "Analyzing the second leading digit makes all the results look non-conforming"
This is really astonishing, and I want to make sure I didn't make some kind of simple mistake. I'm new to Pandas.

I took your notebook & data, and made the changes on Kaggle: https://www.kaggle.com/dogweather/allegheny-cty-benford-s

I suspect I'm not applying Benford's Law correctly. I.e., it doesn't apply to simply the second digit being a `2`, but rather e.g. the number starting with `12`.

[2020-11-07 03:11] dogweather commented on #9
So I gave it a shot, examining the 2nd instead of the 1st digit, and it makes all the data look fraudulent. :-P This can't be right, though. I think I might have applied Benford's incorrectly:

https://www.kaggle.com/dogweather/allegheny-cty-benford-s

[2020-11-07 03:20] zigster64 commented on #10
what you should see looking at anything but the 1st digit is a relatively flat line, because the 2nd digit is distributed between 0 - 9, each with equal probability

Benfords Law only works with the 1st digit, but only for numbers that should be evenly distributed across a wide range.

Consider a set of numbers between 0 - 200

From 1-10, they are evenly distribted
From 11-19  ... more than half b

[2020-11-07 03:40] dogweather commented on #10
I agree 100%. When I saw my results, I assumed I made a mistake somewhere. FYI, Benford's **does** also apply to the second and other digits, but likely not in the way I coded it:

* [Not the First Digit! Using Benford’s Law to Detect Fraudulent Scientific Data](https://econwpa.ub.uni-muenchen.de/econ-wp/othr/papers/0507/0507001.pdf)
* [Wikipedia: Generalization to Digits Beyond the First](https:/

[2020-11-07 04:19] SaucyBoyFlex commented on #9
Bad faith argument of false equivalence. Just because you show Biden's normal distribution of votes does not mean it's "Not evidence of fraud". Break down from ANY other county the distribution of votes. You will find it follows Benford's law. This is one of few datasets that does not follow such law. "Zooming in" does nothing other than statistically confirm. You even included a regular precinct

[2020-11-07 04:20] SaucyBoyFlex commented on #9
The pattern should be similar, but if Biden were to win, obviously the magnitude of each column would be amplified and hold a similar if not the same distribution.

[2020-11-07 04:39] zigster64 commented on #10
Cool, thats interesting about digits other than the 1st - will have to read up more on that.

I note that it works in bases other than 10 as well - so im interested in slicing and dicing the data to look at the same values using different bases (like base2 - base16) and seeing if there is a consistent trend.

There is some good discussion in another issue here that suggests the Benford number isnt

[2020-11-07 04:39] phillipnicol commented on #9
I believe the point of @MechanicalTim is correct. The problem is here is that the precinct sizes themselves probably do not follow Benford's law since they are probably all about the same size. Suppose every precinct in Allegheny has 500 voters, and Trump gets 20% and Biden gets 80%... then Trump would get many leading 1's and Biden would get many leading 4's.

[2020-11-07 04:54] mlamias opened #11 "Research suggests Benford is unreliable in Election Fraud Detection"
Nice analysis.  However, I wanted to point you to a few articles that may be of interest to you.  Essentially the research suggests Benford's is unreliable when applied to election data:

[https://repository.library.georgetown.edu/handle/10822/557850](https://repository.library.georgetown.edu/handle/10822/557850)

[https://www.jstor.org/stable/23011436?seq=1](https://www.jstor.org/stable/23011436?

[2020-11-07 05:34] mlewis1973 commented on #11
yes it's been shown to be susceptible to false positives..... deviations from Benford's when there is no fraud. In this particular case, the total number of voters per precinct does not span many orders of magnitude, so Benford's law is unlikely to apply. Here's a histogram of the sum of Biden and Trump voters which is a decent approximation to the number of voters per precinct.  It would be inter

[2020-11-07 05:39] draeder opened #12 "According to my research second-digit tests are more reliable for detecting election fraud"
See: http://www-personal.umich.edu/~wmebane/pm06.ps, https://www.degruyter.com/view/journals/jbnst/231/5-6/article-p719.xml and https://www.researchgate.net/publication/275305550_Comment_on_Benford's_Law_and_the_Detection_of_Election_Fraud

[2020-11-07 06:14] SaucyBoyFlex commented on #9
I see your point, but it lends itself to the question of why here and nowhere else in the dataset except areas where Biden desperately needed a win? Can we find examples of Trump getting the same distribution?

Wider analysis is warranted at the very least

[2020-11-07 09:58] szabolcsvelkei opened #13 "For numbers summed to 100%, there can be no such thing that only one member doesn't follow Benford's rule."
Keep calm and learn math.

ps.: don't use lead digits in these situation. Misleading.

[2020-11-07 10:05] tkstanczak commented on #9
2nd digit should be more or less uniformly distributed so @dogweather - your analysis shows a wrong expected distribution line and the election numbers look fine:
![image](https://user-images.githubusercontent.com/498913/98438219-b1a3d780-20e0-11eb-95af-4879e7301f96.png)

[2020-11-07 12:19] jimfcarroll commented on #13
It appears he ran these on the vote counts, not the percentages. It would be absurd to run these on the percentages anyway since the orders of magnitude don't vary enough.

[2020-11-07 12:29] jimfcarroll commented on #11
It seems this depends on precinct distribution. In Russia and Iran for example, the reason some of the papers claim you can't use the first digit is the precincts are too evenly distributed. This makes sense, since you wont get numbers that span orders of magnitude.

However, in at least some cities in question in the US, this doesn't appear to be the case by precinct. In Milwaukee for example, th

[2020-11-07 12:30] dshield55 commented on #10
Can changing the base help us bridge the orders of magnitude problem in these datasets? Some other thread mentions an issue with applying Benford to these precincts is that it the lead digits in these data sets are taken from numbers that are almost exclusively in the 10³ range, and so it wouldn't be as reliable as applying Benford to a dataset that span orders of magnitude across 10³, 10^4, and 1

[2020-11-07 12:33] jimfcarroll commented on #9
This seems incorrect. If you have fraud that ends up flagged by Benford's Law (e.g. Biden vote tallies), then you add that distribution to to distributions that don't violate it (Trump tallies and Jo Jorgensen tallies), you will find the same fraud in the sum (total vote count).

[2020-11-07 12:43] dshield55 commented on #13
This may not be an issue and may actually already be showing up as true.

Look at Chicago. Biden has a spike for 3,4,5s and Trumps numbers after 2 are completely flat. Spikes and even distributions both hint at fraud, wouldn't that indicate that both candidates have been tampered with? Possibly Trump votes moved to Biden?

In one of the swing states where Biden overcomes Trump, there are 70,000 vo

[2020-11-07 12:53] szabolcsvelkei commented on #13
Voting numbers, percentages, doesn't matter.  These numbers are not independent:
Sum of votes: N=n1+n2+n3+n4..., so if you cheat on one column (like n1), you must cheat at least one other too. (n2 or something)
This is a "naive" common sense falsification, which anyone can understand without being mathematically skilled.

Of course there are a lot of other mathematical incorrent things in this sit

[2020-11-07 13:07] jimfcarroll commented on #13
Yes. I was just editing my comment when your last response came up. What @dshield55 says in his last paragraph is what I meant. They ARE independent if ballot-box stuffing is what took place. It's NOT like they took votes from Trump and moved them to Biden. The claim is they simply added (i.e effectively made up) Biden counts.

In your example you have N fixed and so any anomaly in one distributio

[2020-11-07 13:30] dshield55 commented on #13
Can you add more on that?

[2020-11-07 13:38] jimfcarroll commented on #13
Rich was complaining the totals kept changing as the night went on. He kept mentioning that this was the first time he'd ever seen it. They normally report the totals BEFORE the counting. That's how the "Percent complete" is known. In this case the swing state provided very wide ranges up front. Then, as the night went on, they kept upping even the high end of these ranges. Dramatically in some ca

[2020-11-07 13:47] jimfcarroll commented on #13
If you're interesred he recaps his experience in the first 15 minutes of this Nov 5th livestream: https://www.youtube.com/watch?v=dEe463Y5lAw

[2020-11-07 14:04] aham41 opened #14 "Data availability"
Maybe I completely missed it, but what exactly are the source links for the data?

[2020-11-07 14:20] jimfcarroll commented on #13
FWIW, this seems to be the best refutation: https://github.com/cjph8914/2020_benfords/issues/9 We'd need to see if the analysis persists across more than Allegheny

[2020-11-07 14:55] ghost commented on #5
As pointed out here: https://github.com/cjph8914/2020_benfords/issues/12

the problem I outline can be fixed by switching to a second numbers test. That would, however, invalidate the results that are currently published in the README file.

Can anyone update the code accordingly? Because a first numbers test can evidently not provide any proof of foul play.

[2020-11-07 14:57] ghost commented on #12
First-digit tests were also found in this thread to give misleading results: https://github.com/cjph8914/2020_benfords/issues/5

Accordingly, I suggest that we **immediately** implement a second-digit test.

(minor edit)

[2020-11-07 15:18] dshield55 commented on #12
How do you do a 2nd digit test?

I just did one off a large data set not suspected of fraud. Excel. When I do the 1st digit test you can see the curve so well. When I do the 2nd digit test, it's not near as dramatic even though there's more 0s than 1s than 2s.

Isn't there a d number or something that is calculated to determine how good a fit the curve is? Anyone know how to do that?

[2020-11-07 15:22] ghost commented on #12
According to Benford's law, the 2nd digit will likely have a different distribution than the 1st digit. Maybe draeder (or his papers, linked above) has the exact formula to use.

[2020-11-07 15:25] dshield55 opened #15 "Does anybody have a dataset known to be fraudulent?"
I want to experiment around with changing data to base 8 or base 16, multiplying, etc, was wondering if anybody knows of a dataset that was known to be manipulated so I can tell if the fraud get's obscured or holds.

[2020-11-07 15:41] nickcorona commented on #11
Because Biden is the one being accused of election fraud.

[2020-11-07 15:52] ghost commented on #12
I recovered the second-digit factors from this paper: https://www.jstor.org/stable/23011436

0 - 0.120
1 - 0.114
2 - 0.109
3 - 0.104
4 - 0.100
5 - 0.097
6 - 0.093
7 - 0.090
8 - 0.088
9 - 0.085

Mean: 4.187

Academic literature suggests all kinds of pitfalls when it comes to interpreting analyses like this, but for now let's not overcomplicate the issue. Just do a second-figure test, and see if it

[2020-11-07 15:52] dshield55 commented on #12
I did just a basic graph all the 2nd digits operation here, no other fancy analysis. The bottom one isn't expected to be fraudulent and you can see it still follows the rules of more 1s than 2s than 3s, etc. However with Biden in Chicago, it's jacked on the 2nd digits.

I understand the reasons we can't necessarily trust the 1st digits, but is there a reason we wouldn't be able to trust the distri

[2020-11-07 15:54] ghost commented on #12
Academic literature suggests that one needs to be careful about drawing conclusions, see e.g.  https://doi.org/10.1515/jbnst-2011-5-610 - Anyhow, keep these diagrams coming!

(edit: removed diagrams from quote)

[2020-11-07 16:02] dshield55 commented on #12
Here's the percentages for the my last posted chart alongside the second-digit factors. The Trump one matches quite well, but not Biden.
<img width="185" alt="whackbenfordsec" src="https://user-images.githubusercontent.com/5439391/98445939-d051a080-20d7-11eb-9b4e-a2eb23a37c5f.png">

[2020-11-07 16:13] mlewis1973 commented on #13
even the vote counts don't have enough orders of magnitude

[2020-11-07 16:23] SageGaspar commented on #11
This repo is attempting to apply Benford's Law to vote count distribution, so that's what actually needs to span multiple orders of magnitude. Precinct distribution is a factor in vote count distribution but it doesn't tell the whole story.

I don't see the Milwaukee data in this repo, but take a look at the Chicago data: https://github.com/cjph8914/2020_benfords/blob/main/data/chicago_dataexport.

[2020-11-07 16:24] jimfcarroll commented on #11
@SageGaspar good explanation

[2020-11-07 16:32] szabolcsvelkei commented on #13
@jimfcarroll,  changing the total number of votes would be the most lame fraud and easiest to catch. No fool says that 1000 votes are in the box when there are only 800.

[2020-11-07 16:38] dshield55 commented on #12
*I'm out of time and likely won't be contributing more

In Chicago, Trump appears to hold up with 2nd digits but Biden does not. No fancy analysis here, just eyeballing it.

With a second digit analysis, I don't know what to do with entries that don't have a second digit, so I counted 119 of them as null, was I supposed to add them to the zeroes? The lowest biden got in a precinct was 33, but Trum

[2020-11-07 16:41] ghost opened #16 "Paper suggests that even second-digit analysis cannot be used"
Please refer to chapter 2 in the following paper:
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.697.5592&rep=rep1&type=pdf

The paper suggests precinct results in previous elections in a number of countries do not seem to follow the second-digit Benford distribution.

Let me try to outline why this does not hold for second digits either. If you have precincts in cities designed so that

[2020-11-07 16:55] frycast opened #17 "Milwaukee ward sizes are small and there is a highly preferred candidate"
The disappearance of Benford's law in Milwaukee is a function of voter preference alone. If one candidate has between 60% and 80% average chance of receiving a vote, then the sizes of the wards in Milwaukee are too small to accommodate Benford's law. See further details with my simulations here https://rpubs.com/frycast/687633

Edit: Not just too small, but too concentrated. They do not span many

[2020-11-07 16:57] nm17 commented on #14
Read the README:

[2020-11-07 17:03] ghost commented on #12
I have tried to outline how the second digits of results in cities could just as well follow a uniform distribution, here: https://github.com/cjph8914/2020_benfords/issues/16

I don't understand, however, why the results of each candidate don't follow the same pattern. Maybe it has to do with how precinct sizes are planned in inner cities vs. in suburban areas, but that's just a hypothesis.

[2020-11-07 17:03] jimfcarroll commented on #13
@szabolcsvelkei  I think you misunderstood me. They didn't just "change the total."  In typical ballot-stuffing schemes it's important to have flexibility in the total numbers because if you underestimate what you need, you can increase the totals on the fly as you stuff more prepared ballots. In a canvasing operation the ballots will be there.

It helps to pause the counting to asses what's neede

[2020-11-07 17:04] dshield55 commented on #16
I'm not sure how well this applies to the data I've been looking at. At first glance, I don't think it does.

The size of the precincts seem non-conforming to me as I've been looking around. Like here in Milwaukee, you can see they try to target precincts around 1,000 voters, but the actual number of registered voters per precinct looks pretty random. Im thinking # of registered voters per precinc

[2020-11-07 17:31] korentzari opened #18 "Florida is benford law"
https://dos.myflorida.com/elections/data-statistics/elections-data/precinct-level-election-results/

[onishin@pump florida]$ grep -i Trump  *.txt | awk '{print substr($NF,1,1)}' | sort  | uniq -c | sort -n
    257 9
    280 8
    301 0
    308 7
    359 6
    429 5
    614 4
    754 3
   1111 2
   1739 1
[onishin@pump florida]$ grep -i Biden  *.txt | awk '{print substr($NF,1,1)}' | sort  | uniq -c

[2020-11-07 17:35] dshield55 commented on #11
What are the odds of a false positive? If you look at 6 counties where fraud was suspected and found positives in 6 of them, do we assume that getting 6 positives is likely really to be false positives in all 6? What are the odds if only 2 positives are found that both are actually false positives?

[2020-11-07 18:00] chavenor commented on #3
https://results.enr.clarityelections.com/PA/Allegheny/63905/Web02.193333/#/cid/0104

[2020-11-07 18:00] chavenor commented on #17
I believe you are correct.

https://results.enr.clarityelections.com/PA/Allegheny/63905/Web02.193333/#/cid/0104

[2020-11-07 18:01] chavenor commented on #12
Yes, there are wards voting like 98% one way.  So this would show up in the graph would it not?  https://results.enr.clarityelections.com/PA/Allegheny/63905/Web02.193333/#/cid/0104

[2020-11-07 18:51] testes-t commented on #12
If there are many wards voting 90-98% for one candidate, that's also not random. Voters seem to have introduced bias to the numbers by favouring one of the candidates.

* They have to count each vote starting from zero, so Benford's Law should apply, but:
* There are several other correlations and contingencies that could mess up the pure Benford pattern.

[2020-11-07 18:52] tcauth commented on #17
but according to your simulation:
 Trump's 39% chance should also show some observable difference from Benford's law, however ...

[2020-11-07 19:06] harrybrwn commented on #11
The Milwaukee data is being scraped from [this site](https://county.milwaukee.gov/EN/County-Clerk/Off-Nav/Election-Results/Election-Results-Fall-2020). The vote counts in that data go up to 2800 for Biden and 2000 for Trump.

[2020-11-07 20:11] dshield55 commented on #17
@frycast thanks for your great work. I'd like to second @tcauth , wondering if there's a reason for that

[2020-11-07 20:33] dshield55 commented on #18
Is this the whole state or did you narrow it by a specific county?

[2020-11-07 21:08] chavenor commented on #17
@tcauth would the smaller portion of votes possibly not move the needle due to the fact that they are blending in with the rest of the wards of equal size?

[2020-11-07 21:08] chavenor commented on #17
@tcauth what does the 2016 election look like -- are we able to get the data to run it?

[2020-11-07 21:13] byt3thematics commented on #18
He did the whole state

[2020-11-07 21:16] blajer opened #19 "Some more ideas based on infamous examples from other countries"
https://projecteuclid.org/euclid.aoas/1458909907
Paper describing various statistical fingerprints for fraudulent elections. Focus and proof of applicability based on several Russian elections.

[2020-11-07 22:02] PoiSonPeZ commented on #12
Did you guys ever consider that you are combining two separate elections - mail-in ballots and in-person ballots? They are being collected and counted separately. The mail in ballots have shown a considerable Democrat preference. It's almost as if two separate elections are occurring. I suspect this is the reason for the discrepancy you are seeing.

[2020-11-07 22:42] rnehrbossc commented on #15
North Carolina had one in 2018

https://www.reuters.com/article/us-usa-election-north-carolina/north-carolina-republican-operative-charged-in-election-fraud-scheme-idUSKCN1QG2FS

[2020-11-07 23:05] mixja commented on #3
This compares 2016 vs 2020 results for Allegheny county based upon above link for 2016 data - distributions look consistent to me:

<img width="2247" alt="2016 vs 2020" src="https://user-images.githubusercontent.com/3351083/98453133-b0df7400-21ba-11eb-8a57-c4e1b16ff048.png">

See https://github.com/mixja/2020_benfords

[2020-11-08 02:15] charlesmartin14 commented on #17
If Biden is 61%, then say Trump is 39%. (ignoring the other candidates)  We can take a screenshot to see the Benfords lawfor p=0.30 and see it is violated for this case as well

<img width="844" alt="Screen Shot 2020-11-07 at 6 15 09 PM" src="https://user-images.githubusercontent.com/498448/98455417-3ca6c100-2125-11eb-9aa7-f6b1adeddd99.png">

[2020-11-08 02:20] charlesmartin14 commented on #17
And this is the point of one the main research papers that claims not to use Benfords law in these situations.

https://www.cambridge.org/core/journals/political-analysis/article/benfords-law-and-the-detection-of-election-fraud/3B1D64E822371C461AF3C61CE91AAF6D?fbclid=IwAR2x18HnGzK7rQDrDhid25i-gUMo31xo6tyJT7UMK97YJWva7vbPApHWKSg

![image](https://user-images.githubusercontent.com/498448/98455454-bc

[2020-11-08 03:02] frycast commented on #17
Trump's average vote probability was roughly 26% in Milwaukee for this election, and Biden's was roughly 73%. With those numbers, Trump gets a nice Benford's law in my simulation, and Biden gets the observed spike around the digit 4. I've updated the notebook at the same link so you can see Trump's distributions too: https://rpubs.com/frycast/687633

It makes sense: the populations in Milwaukee Wa

[2020-11-08 03:09] 1e100 commented on #19
I've plotted turnout vs vote share for Milwaukee and Allegheny - the lower the turnout, the harder the precincts break for Biden. Don't know what that means, but doesn't seem very logical. Positive correlation would be easy to explain - voters in a heavily democratic county showed up en masse and voted for their candidate. But we're seeing the opposite here - there's negative correlation. That is,

[2020-11-08 04:01] krist-jin opened #20 "Understanding the plot"
Can someone help me to understand the plots? I understand Benford law but what does the frequency mean in the plots? I know it's the frequency of some numbers/data of the vote but what exactly are these numbers? Where do they come from? Thanks!

[2020-11-08 04:22] LaurieKoudstaal commented on #7
I ran it for all of MN (out of boredom).

![mn-Yellow Medicine](https://user-images.githubusercontent.com/8015792/98456747-8ea71f80-21d5-11eb-9e9d-2fede0ceaea2.png)
![mn-Wright](https://user-images.githubusercontent.com/8015792/98456750-8fd84c80-21d5-11eb-8dde-16e5c213855e.png)
![mn-Winona](https://user-images.githubusercontent.com/8015792/98456751-9070e300-21d5-11eb-9bfb-4b9d6edc98e3.png)
![mn-Wi

[2020-11-08 04:25] tcauth commented on #17
make sense. can we assume that if the samples are large enough to a state -> county level, the distribution should be better?
nytime obtains a very good html source of that kind of data hence pd.read_html() read them directly. I got a MI chart from this:
https://www.nytimes.com/interactive/2020/11/03/us/elections/results-michigan.html'

![image](https://user-images.githubusercontent.com/11341470/9

[2020-11-08 04:37] tcauth commented on #17
And I suppose the 1 should be the most important one, right?

[2020-11-08 04:46] LaurieKoudstaal commented on #7
Here is NC:
![nc-ALAMANCE](https://user-images.githubusercontent.com/8015792/98457148-2c501e00-21d9-11eb-87fa-5acdf1bd4a3e.png)
![nc-ALEXANDER](https://user-images.githubusercontent.com/8015792/98457150-2d814b00-21d9-11eb-9516-43f1f4ccb1a0.png)
![nc-ALLEGHANY](https://user-images.githubusercontent.com/8015792/98457151-2e19e180-21d9-11eb-954f-1cb87fd0dcb3.png)
![nc-ANSON](https://user-images.github

[2020-11-08 05:19] 1e100 commented on #20
It's a model of a distribution of first digit frequencies (that is "1" in a "100" or "10", "2" in "21", "223" or "2563", etc) typically observed in _naturally occurring_ datasets. It's empirical, there's no theoretical explanation for it, as far as I know. It says that in an untampered, naturally occurring distribution of numbers, you expect to see "1" as the first digit a certain percentage of th

[2020-11-08 05:26] LaurieKoudstaal commented on #7
Indiana (not all counties seem to have provisional results):
![in-Adams](https://user-images.githubusercontent.com/8015792/98457761-d3838400-21de-11eb-91eb-a976610e8eb4.png)
![in-Bartholomew](https://user-images.githubusercontent.com/8015792/98457762-d4b4b100-21de-11eb-87c5-6905dcb526c9.png)
![in-Benton](https://user-images.githubusercontent.com/8015792/98457764-d54d4780-21de-11eb-847f-d0a115d5f82

[2020-11-08 05:31] CoderKing2020 opened #21 "Reach out to the voter integrity project"
Hey can you please reach out to me on this discord server. This is very compelling and we have a way to get things in front of the campaign quickly. this is very damning.

https://discord.gg/TYmxZkFq

I'm CoderKing.

[2020-11-08 05:35] LaurieKoudstaal commented on #18
FL doesn't appear to report precinct by precinct (in fact, a lot of states don't).  Also, aggregated at the state level, other states look fine too.  Even better, in fact, because more numbers moves everything closer to its distribution (obviously).  I really don't think this endeavour is uncovering anything.  People who think there's fraud will take the graphs they like to "prove" their point on

[2020-11-08 05:46] LaurieKoudstaal commented on #18
Here, for example, is the whole state of Indiana:
![in-all](https://user-images.githubusercontent.com/8015792/98458180-f82d2b00-21e1-11eb-9b77-d8a2b63242f5.png)

[2020-11-08 05:52] LaurieKoudstaal commented on #18
Here is MN:
![mn-all](https://user-images.githubusercontent.com/8015792/98458245-c23c7680-21e2-11eb-83d9-331287fff5b7.png)

[2020-11-08 05:54] LaurieKoudstaal commented on #18
Here is NC:
![nc-all](https://user-images.githubusercontent.com/8015792/98458285-19424b80-21e3-11eb-93ec-bc73c31c0a59.png)

[2020-11-08 06:23] yychenca opened #22 "Chicago data source"
The data source URL in the Chicago_Wards_Precincts_Benfords_Data.ipynb (https://chicagoelections.gov/en/election-results-specifics.asp) actually led me to a website where the only data available for download is 2018 Primary - DEM 3/20/18 which didn't seem like the one used in the notebook. Am I missing anything here?

[2020-11-08 06:35] krist-jin commented on #20
@1e100 thanks for the reply! However, my doubts are about the source data/numbers used here. In your example, what does 21, 223 and 2563 mean for the vote? Where do these numbers come from? Basically I don't see the connection between the vote and the data being plotted here. Thanks!

[2020-11-08 07:25] 1e100 commented on #20
The numbers are vote counts by precinct. If they are not manipulated, the first digit in those vote counts usually follows Benford's distribution. The code in the notebook makes the derivation of these histograms pretty clear:

 1. Get vote counts broken down by precinct, for each candidate
 2. Extract the first digit of the counts
 3. See how often you see that digit, and compare with how often B

[2020-11-08 08:27] 1e100 commented on #17
Care to explain this? The lower the turnout, the higher the Biden advantage.
![milwaukee_wards](https://user-images.githubusercontent.com/38598618/98460414-100c9c80-2159-11eb-9aa0-c74ab52d9638.png)

[2020-11-08 08:32] 1e100 commented on #17
Here's the same plot for Allegheny:
![allegheny](https://user-images.githubusercontent.com/38598618/98460506-ec962180-2159-11eb-9c0b-2a6464ec2493.png)

[2020-11-08 08:34] 1e100 commented on #17
Here's Allegheny:
![allegheny](https://user-images.githubusercontent.com/38598618/98460536-2ebf6300-215a-11eb-98a6-75690218f739.png)

[2020-11-08 08:35] tcauth commented on #17
What are the x-axis and y-axis? Turnout and votes?

[2020-11-08 08:35] 1e100 commented on #17
Y is turnout, X is percentage of the votes for a given candidate in each precinct. Color is the size of the bucket. It's a 2D histogram.

[2020-11-08 08:43] tcauth commented on #17
And left is Biden right is Trump?

[2020-11-08 08:45] 1e100 commented on #17
Yes. Earlier comment I made had them inadvertently swapped on the Allegheny histogram. I've deleted that comment and uploaded the correct one. I could push my fork if someone wants to play with this. In particular, it'd be interesting to see if this is a normally occurring phenomenon by comparing these with a county where Trump won. I started looking into Miami Dade, but precinct-level voter turno

[2020-11-08 08:46] 1e100 commented on #17
To be clear (for folks who will repost this on social media) - I'm not alleging any fraud or anything like that. Just surfacing a pattern which I thought was counterintuitive, and seeking an explanation.

[2020-11-08 08:48] tcauth commented on #17
It seems to be very easy to get and process state level which should be very solid in statistics

[2020-11-08 08:51] 1e100 commented on #17
Well, precinct level turnout data is _technically_ available, but "available" in this case means a gigantic PDF, from which hundreds of values need to be copied out by hand. I don't have that kind of time or motivation.

[2020-11-08 08:58] frycast commented on #17
That's interesting. I haven't played around with that data yet. Do those turnouts count mail-in ballots? Is there also a negative correlation between turnout and something else that is correlated with Biden support, such as population density?

[2020-11-08 09:00] 1e100 commented on #17
Yes:
 1. Turnout = all votes / registered voters
 2. Vote share = votes for candidate / all votes

[2020-11-08 09:02] 1e100 commented on #17
I haven't studied other confounders, perhaps someone else will.

[2020-11-08 09:02] frycast commented on #17
There's a pretty informative thread evolving on this in general here https://skeptics.stackexchange.com/questions/49782/do-vote-counts-for-joe-biden-in-the-2020-election-violate-benfords-law

[2020-11-08 11:54] pkit commented on #5
@testes-t I'm not sure what are you implying. One (just one) candidate has different distribution from others. It's called "anomaly" and that's what Benford law is for: detecting anomalies. I see that anomaly was successfully detected. No amount of wordplay will change that.

[2020-11-08 11:58] pkit commented on #19
@1e100 what you plotted is irrelevant to what is discussed here.

[2020-11-08 12:00] 1e100 commented on #19
Thank you for this valuable contribution, @pkit. 😂 This is one of the graphs used in the paper mentioned above.

[2020-11-08 12:01] 1e100 commented on #19
BTW, what I plotted can be found here: https://github.com/cjph8914/2020_benfords/issues/17

[2020-11-08 12:05] ghost commented on #5
OK, I agree with you. Discussion and interpretation are also relevant, but seem to be more difficult than I had thought.

[2020-11-08 12:05] pkit commented on #17
@frycast it has nothing to do with what presented here. They discuss other graphs of unknown source.

[2020-11-08 12:10] pkit commented on #19
@1e100 love you too! I'm just seeing too much noise in these issues.

[2020-11-08 12:13] ghost commented on #19
Figure 5 in that paper would be easy to replicate

[2020-11-08 12:13] pkit commented on #5
@testes-t yup, it also may be a "natural" anomaly, but unless we have more data it is what it is.

[2020-11-08 12:17] 1e100 commented on #19
Fig 5 only helps if tallies are entirely falsified, as they often are in Russia. People who "count" votes there are too dumb to not use a multiple of 5%. :-)

[2020-11-08 12:20] Telofy commented on #11
I wonder if you could reanalyze the data of those very evenly sized districts with similar numbers of votes for Biden in base 5 or so to get more orders of magnitude at the cost of fewer different digits. Maybe the smaller differences will then span enough orders of magnitude after all that the Benford-like distribution will appear again.

[2020-11-08 12:22] 1e100 commented on #22
That's where it goes by default for some reason. If you select "election results" in the top menu bar, you will be able to drill down to 2020 election results.

[2020-11-08 12:29] ghost commented on #19
Would be interesting to see figure 5, the diagram to the left that is in black. Just to see whether there could be an anomalous amount of extremely high turnouts.

[2020-11-08 12:45] ghost commented on #9
If the law doesn't apply to the first digit, then why should it apply to the second digit?

[2020-11-08 12:47] ghost commented on #21
See, however https://github.com/cjph8914/2020_benfords/issues/9

[2020-11-08 13:02] pkit commented on #9
@MechanicalTim  I think your graphs just confirm the anomaly.
The whole point of Benford's law is to detect where the numbers were artificially tailored for a **specific percentage**.
I.e. the question Benford law answers is: if precinct sizes are naturally distributed and votes for a specific candidate are too, how do we detect the anomalies?

[2020-11-08 13:44] charlesmartin14 commented on #11
The whole point of the first digit indicator is to find unusual situations.  We know that Benford's Law can not be applied to datasets with upper and lower bounds.  The question is, why do the Chicago patterns for Biden's cluster in the range from 100-999 ?  Is this a natural voting pattern, or is it due to something else ?  Researchers in election forensics see this behavior all over, and they ge

[2020-11-08 14:26] charlesmartin14 commented on #17
That's helpful

I assume you are estimating the true probabilities using the observed frequencies.  But what if these are wrong, and significantly so ?

[2020-11-08 14:46] charlesmartin14 commented on #17
That's very helpful, thanks

I assume you are estimating the true probabilities using the observed frequencies.  But what if these are wrong, and significantly so ?

I think the big question is, Is it possible to detect this kind of fraud, with any level of. confidence,  using advanced techniques.  And then correlate it with real world behavior ?

A good starting point it seems would be to look at

[2020-11-08 14:48] pkit commented on #17
@charlesmartin14

You cannot detect fraud using statistics alone. But you can detect statistical anomalies.
Benford law helps in detecting these. Seeing it triggering for one candidate **is** an anomaly.

[2020-11-08 15:01] charlesmartin14 commented on #17
Thanks for clarifying.  By 'detect fraud' I mean to detect anomalies suggestive of fraud.

(I deleted this last part by accident when editing)

Is it possible to get the 2016 data ?

[2020-11-08 15:07] dshield55 commented on #18
I'm biased towards wanting it to work that there's fraud. So far I don't feel like there's smoking gun evidence yet. At this point somebody on Trump's team has seen this and I wonder if they're paying big brains to deep dive. Seems like we would need country wide data, county by county, and state by state, for this year and maybe 2016 to determine how often anomalies pop up even in counties where

[2020-11-08 15:13] dshield55 commented on #17
@frycast, you want to run that in base 16 for giggles?

[2020-11-08 15:25] frycast commented on #17
"Empirical probability" means the probability on the observed data alone. There is no need for any estimate of the true probability here. We only need the empirical probability.

This is because my simulation demonstrates that the disagreement with Benford's law arises _even if_ the true probability is equal to the empirical probability. So, in other words, _if there is no fraud, then you still ge

[2020-11-08 15:25] charlesmartin14 commented on #17
Why would that help ?  The whole point of Benford's Law is that the distribution of first digits is scale invariant.   The problem's applying it here appears mostly to be related to finite size effects and the assumption of a uniform prior.  But I'm not a specialist with this method so maybe I am missing something ?

One of the academic arguments against using first digit Benford's Law for electio

[2020-11-08 15:43] frycast commented on #17
My simulation is a kind of baseline. Your suggestion to add error bars is great. I thought about adding some by running the simulation many times. I may add that at some point.

If you use 2016 as a baseline, then (ironically) you run into a version of the problem you brought up yourself: the baseline 2016 empirical probability would be taken as the "true" probability, but would likely differ from

[2020-11-08 15:46] charlesmartin14 commented on #17
The simulations show that the gross shape of the first digit Benford's law distribution crudely reflects the observed frequencies of the vote counts.

There are other statistics look at,  both usings Benford's law and this data.

[2020-11-08 15:50] charlesmartin14 commented on #17
What you are saying is not to simply look at plots of the first digit distribution and try to apply Benford
's Law 'naively'.  And that's helpful.  There is are more things to do.

Your simulation is not the kind of baseline I mean.  It is a finite size estimator using a different prior.  And its not really even that because you did not do any statistical estimation to see if the underlying vote d

[2020-11-08 16:16] MechanicalTim commented on #9
I'm not sure I've read every comment in every issue, but I've seen not seen a single person explain why the code/plots in this repo _are_ evidence of fraud. The argument seems to be

- Here are first-digits distributions
- Benford's Law!
- Looks like voter fraud!

Voter fraud is an extraordinary claim, and therefore demands extraordinary evidence and _a clear, cogent explanation_. I have not seen

[2020-11-08 16:18] frycast commented on #17
Let me clarify. I'm not suggesting you use the simulation as a baseline for detecting fraud. However, if you did want to do something like that, then perhaps you could use some of the measures you mentioned to improve it, to make it a reliable baseline.

[2020-11-08 16:18] charlesmartin14 commented on #17
That does seem highly suspect.   I think it would be helpful to compare to the 2016 data.

[2020-11-08 16:22] chavenor commented on #17
@frycast @1e100

I think this makes sense if there are more votes coming from first-time voters.   Do these numbers take Independents into consideration?

Knowing how many non-registered voters voted would be pretty interesting.   Is there a single data source for all of this information?

[2020-11-08 16:23] MechanicalTim commented on #20
@1e100 , can you please provide a source for your statement, "If they are not manipulated, the first digit in those vote counts usually follows Benford's distribution."

[2020-11-08 16:43] charlesmartin14 commented on #17
@frycast

One has to be careful applying Benford's Law to randomly generated data for doing any kind of simulation such as creating a (what I'll call) a _distributional baseline_ for Benford's Law

Here is a simple example of normally distributed data: despite the shape of the data, with a simple statistical test, we see it is clearly not distributed by Benford's Law
<img width="1068" alt="Screen

[2020-11-08 17:16] Marcotte67 commented on #9
I agree that using the first digit of votes is somewhat flawed, due to the fact that the total number of voters per state / 1,000,000 is most often 2. And they each took about 1/2 of the votes in many states.

But, you can see that applying Benford's law just by the 51 states is very telling.

Trump had 23 (45%) leading 1's and Biden had 13 (25.5%) leading 1's.  If we are expecting 30.1% leading 1

[2020-11-08 17:19] pkit commented on #9
Because they do obey Benford's law for all other candidates?

They are not expected to. But if Benford works for every candidate, except one - it's anomaly.
It doesn't mean there is a fraud, but it means there is anomaly to investigate.

Irrelevant to Benford's law. And anomalies it detects.

You base the distributions on the possibly fake frequency numbers, it's a clear tautology.

[2020-11-08 17:22] pkit commented on #9
@Marcotte67

https://github.com/cjph8914/2020_benfords

[2020-11-08 17:34] pkit commented on #17
@charlesmartin14 population distributions are usually "[Zipfian](https://en.wikipedia.org/wiki/Zipf%27s_law)" and not Normal

[2020-11-08 17:34] charlesmartin14 commented on #15
@dshield55  That's an excellent question

[2020-11-08 17:38] charlesmartin14 commented on #7
@LaurieKoudstaal   Thanks for doing that
That's a lot of data
Do you have a plot for the total first digit counts for the whole state ?

[2020-11-08 17:41] charlesmartin14 commented on #4
@FraudAnalysis   Let me suggesting adding add a bar chart at the end to show the p-values, in addition to the raw data listed

[2020-11-08 17:43] Marcotte67 commented on #9
Since the number of votes is irrelevant, and just the distribution to demonstrate the possibility of fraud, would this work to remove the issue? (And again, a sample size of > at least 100 is needed I think)

If you take (# votes per precinct / 29) and use the first digit of the remainder. Then it's actually using the entire number to derive the distribution.  Plus, precinct or state size becomes

[2020-11-08 17:56] charlesmartin14 commented on #9
The problem making a claim of potential fraud here is that it appears that the deviations from Benford's Law, the way it is applied here, may simply reflect small sample sizes in areas where Biden has taken a significantly more number of votes than Trump

So the Benford's Law method can not be interpreted naively as a direct suspicion of fraud.

Still, seems unusual that the turnout for Biden (the

[2020-11-08 18:04] andrewzigerelli commented on #17
Are you implementing the PNAS paper from Klimek et al?
https://www.pnas.org/content/pnas/109/41/16469.full.pdf

If so, are you making the repo public?

[2020-11-08 18:41] charlesmartin14 commented on #17
See also issue #9:

[2020-11-08 18:45] charlesmartin14 commented on #17
@pkit.   I'm referring to the simulations being used to create the _distributional baseline_,  where random binomial trials have been used to simulate the data for this thread.

See also issue #9:

Benford's Law reflects something we know about natural data sets -- they are almost always heavy-tailed (i.e log-normal), not normally distributed. If a naive fraudster were to use a random ballot-stuff

[2020-11-08 19:16] Marcotte67 commented on #9
I just took all of the vote history since 1976 at the state level (summing by year, state, candidate). Just to see if Benford's Law made sense at this level.  And to find max and avg deviation to see if Trump's 15% deviation from expected 1's was plausible.

IT WAS NOT!

![image](https://user-images.githubusercontent.com/59587819/98482031-2bf95800-21c4-11eb-88a0-6129f97504a8.jpeg)

As far as compa

[2020-11-08 19:22] charlesmartin14 commented on #9
@Marcotte67   Thanks for looking this up.  Sorry, I don't understand what you are saying.  If you can share a notebook or some other writeup, or just clarify, that would be great.  Thanks

[2020-11-08 19:32] JivanRoquet commented on #13
@szabolcsvelkei changing the total number of votes didn't seem to pose them a problem. Furthermore, I don't see why one wouldn't apply Benford's rules in this situation as the OP did. It is perfectly valid the way he did it and proof is that the law is effectively respected for most of the curves, while not for a few others. You're trying to teach the OP out of it by using a somewhat arrogant and

[2020-11-08 19:36] jimfcarroll commented on #13
@JivanRoquet I thought this also, originally. However, I think @MechanicalTim provides a reasonable explanation at issue https://github.com/cjph8914/2020_benfords/issues/9

[2020-11-08 19:42] Marcotte67 commented on #9
Hi. From 1976-2016, the total votes (using a sample of 3740 rows) - year, state, candidate)

About... 11 yrs x 51 states x 5.5 candidates per election

The average distribution and difference from Benford's was:
1's 32.4% (2.3% diff)
2's 19% (1.4% diff)
3's 11.6% (-0.9% diff)
4's 9.7% (-0.4% diff)

The proved to me that Benford's law can be applied to find anomalies.

This year, Trump had a leadin

[2020-11-08 19:48] Marcotte67 commented on #9
2nd digits have a zero so can't be used.

FYI - When I tried the 1st digit of reminder Mod(1047), the results were not correct.

[2020-11-08 20:47] chavenor commented on #17
Can we run this against the same data set but for the 2016 election?    Curious to see if we see the same distribution mirrored for Trump.

I find it odd you can have lower voter turnout within your party and somehow that turns into a huge advantage.    Did independents really carry the day for only Biden/Harries?

If these votes turn out to be real then the Democratic party has cracked the code f

[2020-11-08 20:52] MechanicalTim commented on #9
For the sake of consolidating all of these ideas, I am going to stop posting to this issue, in favor of following #11 and #17, which are more thoroughly developed, and seem more fruitful.

[2020-11-08 21:44] 1e100 commented on #20
I’m sure you can find it yourself if you can use Google and genuinely want to know.

[2020-11-08 22:11] MechanicalTim commented on #20
Actually, I am trying to give you the benefit of the doubt here. The only credible sources of information I have been able to find are articles like [this one](https://www.eipartnership.net/rapid-response/what-the-election-results-dont-tell-us), which strongly caution _against_ blithely using Benford's Law in the way it has been used here.

If you have actually found something equally credible, I

[2020-11-08 22:16] MechanicalTim commented on #17
The only credible sources of information I have been able to find are articles like [this one](https://www.eipartnership.net/rapid-response/what-the-election-results-dont-tell-us), which strongly caution _against_ blithely using Benford's Law in the way it has been used in this repo and issues.

I am trying to keep an open mind about the whole thing, and assuming folks are arguing in good faith fo

[2020-11-08 22:46] 1e100 commented on #20
I’ve gone out of my way several times to underscore that the lack of conformance to Benford’s by itself is not evidence of fraud (nobody but the illiterate Twitterati would claim that), but merely an indicator that a further investigation might be worthwhile. And I don’t need your “benefit of the doubt”. :-)

[2020-11-08 23:34] chavenor commented on #17
@MechanicalTim I encourage you to read through every issue on this repo.  You will see there is opposition to the case made for Benford's Law that these numbers are out of wack due to the high voter turnout for B/H in these areas in questions.   The 2016 election showed similar results, again a very large percent of vote breaking towards H.    Even if this was not the case it doesn't imply fraud o

[2020-11-09 00:41] 1e100 commented on #17
I've pushed the code to https://github.com/1e100/2020_benfords. Disclaimer, once again: **I do not claim there is any fraud here**. I'd like to see an explanation to Biden's "the lower the turnout, the higher the vote" phenomenon. It is quite possible that it is a legit pattern. Also, my Pandas-fu leaves much to be desired, this is the second time I'm using Pandas, so if anyone finds bugs, PRs are

[2020-11-09 00:57] chavenor commented on #17
Can you send me this file I might be able to parse it?  What format do you want it in?

[2020-11-09 01:01] 1e100 commented on #17
https://www.miamidade.gov/elections/library/reports/voter-registration-statistics-precincts.pdf, CSV would be ideal, in the form:

precinct_name, total_voter_registrations

But if you can also parse out registrations by party that could be interesting for analysis as well.

[2020-11-09 01:02] MechanicalTim commented on #17
FYI, there is a free program called [Tabula](https://tabula.technology/) that is _very_ good at extracting tabular data from PDF files.

[2020-11-09 01:24] ghost commented on #12
I did the same analysis, and my diagrams deviate slightly from yours (e.g. I have 210 zeros for Biden, but otherwise it's more or less the same). I'm not sure exactly why we see the pattern in Trump's second digits and not in Biden's.

[2020-11-09 01:28] 1e100 commented on #17
Works remarkably well
[tabula-voter-registration-statistics-precincts.zip](https://github.com/cjph8914/2020_benfords/files/5507589/tabula-voter-registration-statistics-precincts.zip)

[2020-11-09 02:05] charlesmartin14 commented on #17
@MechanicalTim

IMHO, they are a bit deceptive here.   They claim that :  _the numbers must span multiple orders of magnitude, such as ranging from 100 to 10,000,000. ._

Benford's Law applies to data sets that span ranges a lot smaller than that.  Data from 0-1000 is sufficient if it is uniformly distributed on a log scale.

[2020-11-09 02:11] KarlAmort opened #26 "For comparison..."
Here's is someone doing this slightly more elaborately: https://probablydance.com/2020/11/08/looking-for-voter-fraud-in-old-elections-with-data-visualization/

[2020-11-09 02:13] 1e100 commented on #17
Come to think of it, one thing that could explain my vote/turnout histograms above is the preference of Trump voters for in-person voting. That is, if both sides vote at some fraction by mail (say 70/30 for Biden/Trump in this case) but then still more Trump voters also show up in person, that will, at the same time, boost turnout for Trump, and reduce Biden's percentage of the vote. But, of cours

[2020-11-09 02:19] chavenor commented on #17
@1e100 see attached for all in single line formatting.
[fl-single-line.zip](https://github.com/cjph8914/2020_benfords/files/5507726/fl-single-line.zip)

[2020-11-09 02:19] chavenor commented on #17
Let me know if you have any more you want me to run -- very interested to see the results on this one.

[2020-11-09 02:30] ghost opened #27 "Allegheny, PA absentee votes, second digit"
I made (and corrected) a quick analysis of second digits for absentee votes only in Allegheny, PA.

<img width="722" alt="Allegheny absentee votes - second digit" src="https://user-images.githubusercontent.com/74059826/98494662-d366a100-223d-11eb-98d4-1408e1ba5d38.png">

[2020-11-09 02:33] testes-t commented on #27
Just to clarify: I have looked at the second digit from the left, not the second digit from the right.

[2020-11-09 02:34] frycast commented on #17
Just to clarify again. The simulation is not intended to estimate anything, such as the distributional form of the vote data. That would be counterproductive since the distributional form of the vote data is the object under suspicion. To me it's important that the criticism on here remains relevant to the purpose of the thread. That's why I originally downvoted your response. Downvote removed.

O

[2020-11-09 02:48] frycast commented on #17
This is another interesting question that perhaps belongs in a whole separate repository, that could be owned by a more active user, for the purpose of investigating all of these interesting properties of the election data.

[2020-11-09 02:49] SageGaspar commented on #17
The entire story of elections in America is that democrats outnumber republicans, but republicans show up to vote. There are multiple theories around this ranging from just being less enthusiastic about their candidates to voter suppression, but that's out of the scope of this.

For some evidence, as of this election there are 4.2 mil dems vs 3.5 mil republicans in PA:
https://docs.google.com/spre

[2020-11-09 02:50] charlesmartin14 commented on #17
@frycast

Fair enough.

Generally speaking, however, you can not use an arbitrary random number generator to create data and then expect it to be Benford.  Random data is not Benford.

So you may be using a methodology that generates non-Benford data in all cases, and claiming it is evidence that the distributions are non-Benford on certain subcases.    That may not be a good baseline.

**_That sa

[2020-11-09 03:03] ghost commented on #27
Another quick diagram from Allegheny, PA, this time it's % of total for Biden/Harris, all votes (not only absentee votes).

![image](https://user-images.githubusercontent.com/74059826/98495793-48d37100-2240-11eb-8c7c-bc6d8860e69d.png)

[2020-11-09 03:15] 1e100 commented on #17
Could be. According to this data GOP voter turnout in Allegheny slightly exceeds 100% (so there are probably some unaffiliated in it), whereas Joe's voter turnout is about 74%. I'm not sure what "count of all other voters" means in the spreadsheet, though.

[2020-11-09 03:36] charlesmartin14 commented on #17
On the voter participation data...

I think the question that is relevant to this thread is,

_If are the Biden vote counts distributed normally in the range 300-400, (and therefore non-Benford) , whereas the Trump are Benford-like, are the overall voter participation trends consistent with vote distributions seen ?_

[2020-11-09 03:37] ghost commented on #27
Another diagram showing the same information

![image](https://user-images.githubusercontent.com/74059826/98497727-1f691400-2245-11eb-9fea-9a155aaf34da.png)

Although this is not Benford's Law related, it would be interesting to see if the same pattern holds for similar counties.

[2020-11-09 03:46] 1e100 opened #28 "Time series analysis?"
Via Twitter: someone on 4chan, of all places, scraped time series from NYT and analyzed GOP/Dem vote share drift in vote count deltas over time. That is, with each update, what's the percentage of the update for Biden vs Trump (or at least that's how I understand it). Outside the turbulent period where in-person votes are counted, mail-in tended to drift slightly towards GOP over time in uncontest

[2020-11-09 03:57] charlesmartin14 commented on #27
@testes-t   Can you add a red line, showing the expected second-digit distribution, to the bar plots above

This may help (if you are in python):  https://github.com/milcent/benford_py/blob/master/Demo.ipynb

[2020-11-09 04:07] 1e100 commented on #28
Correction - the "dem upward drift" is not observed in Arizona or Nevada, best I can tell. WI, PA, VA, GA, and MI show it quite clearly, however.

[2020-11-09 04:14] charlesmartin14 commented on #9
@Marcotte67   If I understand what you are doing, I think in order to test if the data obeys Benford's Law , you need to compute the confidence levels expected for a small subsample like all of Trumps 2020 vote counts for each state.  To do this, you should subsample (N=51) from the total distribution many times, measure the  average % distance from the expected Bedford data, and then compute the

[2020-11-09 04:30] 1e100 commented on #28
Examples:

### GA
![pa](https://user-images.githubusercontent.com/38598618/98500533-954b8c00-2201-11eb-9f51-7492513f328e.png)

### AZ
![az](https://user-images.githubusercontent.com/38598618/98500538-9da3c700-2201-11eb-937d-2f04ecc22d1e.png)

### NV
![nv](https://user-images.githubusercontent.com/38598618/98500545-a4323e80-2201-11eb-873b-a507360ea7f0.png)

### PA
![pa](https://user-images.githubus

[2020-11-09 04:36] 1e100 commented on #28
### FL
![fl](https://user-images.githubusercontent.com/38598618/98500691-fbd0aa00-2201-11eb-8a8b-21cec7b85eb8.png)

### WI (notice the "step" towards the end)
![wi](https://user-images.githubusercontent.com/38598618/98500705-04c17b80-2202-11eb-8595-e8754b63b9e0.png)

[2020-11-09 04:45] tehmikey opened #30 "Benfords law regarding election data needs to use the second digit analysis"
Benford's first-digit analysis is intended to be used on data with several orders of magnitude, and hundreds of votes per precinct over hundreds of counties is not sufficient. For detecting voter fraud, you need to use the second-digit analysis.

The data presented in this project do not properly apply the law and are misleading.

https://repository.library.georgetown.edu/bitstream/handle/10822/55

[2020-11-09 05:22] charlesmartin14 commented on #27
This is what I found for the second digit data for Allegheny, Absentee, using the package above

<img width="754" alt="Screen Shot 2020-11-08 at 9 21 56 PM" src="https://user-images.githubusercontent.com/498448/98503036-77355a00-2208-11eb-8b73-eece72e1f9c5.png">

<img width="468" alt="Screen Shot 2020-11-08 at 9 18 55 PM" src="https://user-images.githubusercontent.com/498448/98502888-13129600-2208

[2020-11-09 05:45] charlesmartin14 commented on #27
The weirdest thing to me about all of this is that the Election Day vote distribution for Biden is almost perfectly Normal, with a slight right skew.

<img width="769" alt="Screen Shot 2020-11-08 at 9 44 15 PM" src="https://user-images.githubusercontent.com/498448/98504348-9c779780-220b-11eb-9ce1-c8c7d50a7e21.png">

Whereas the Trump data just looks more like real world data to me

<img width="460

[2020-11-09 06:00] charlesmartin14 opened #31 "Why is the Biden Election Day vote data nearly Gaussian ?"
The weirdest thing to me about all of this is that the Election Day vote distribution for Biden is almost perfectly Normal, with a slight right skew.

<img width="769" alt="Screen Shot 2020-11-08 at 9 44 15 PM" src="https://user-images.githubusercontent.com/498448/98504348-9c779780-220b-11eb-9ce1-c8c7d50a7e21.png">

Whereas the Trump data , being heavy-tailed, just looks more like real-world data

[2020-11-09 06:01] charlesmartin14 commented on #30
This has been discussed, at length, in the open issues.

[2020-11-09 06:02] dogweather commented on #9
I'm confused: are you saying my code is correct? (It shows a flat distribution of the second leading digit.) Or incorrect?

[2020-11-09 06:10] charlesmartin14 commented on #20
@1e100  Frequently,  real-world data is heavy-tailed, and, therefore, may span a large range, say from 0-10,000.  The vote data here is not always so well distributed, but sometimes it is pretty good.

When you see 'humps' in the data, this may indicate some deviations from this expectation.  Here, we may the underlying data is not heavy-tailed, and/or perhaps is bounded from below.  This could be

[2020-11-09 06:12] frycast commented on #17
That is a good criticism.

I think this isn't a problem here though. My argument for this is that the simulated vote count distributions do look visually very similar to the observed ones, for both Biden and Trump (and not just the Benford distributions).

A visual comparison would not be sufficient in many cases, but in this case, especially since no inference is being made about the true distrib

[2020-11-09 06:12] szabolcsvelkei commented on #13
@JivanRoquet, sorry for my somehow arrogant style, it is my fault.
My outrage stems from the fact that the author uses math as a means of reasoning, i.e. he refers to authority.  He/she has no name, just a freshly add 1 days old nick in github with only one repo. These are the characteristics of a troll. In addition, he has preconceptions and look for data for them, not the other way. He WANTS to

[2020-11-09 06:13] muchcharles commented on #31
Mean can't go below zero here, so maybe Trump's fits with one of the various truncated normal distributions https://en.wikipedia.org/wiki/Truncated_normal_distribution in a similar way.

[2020-11-09 06:15] 1e100 commented on #20
Interesting observation. I wonder what's up with that distribution, as well, although the most curious thing I have seen so far is #28. As I said I'm not a huge fan of Benford's - there is, by definition, no mathematical explanation for it as it relies on "real world" distributions, which a concept that can't be mathematically replicated. IMO if there was fraud (which I'm not claiming there was),

[2020-11-09 06:29] charlesmartin14 commented on #28
@1e100   I haven't dug into this data yet, but from the reporting I listened to, it appeared that kin the contested areas, the upwards dem drift was sometimes widely misbalanced towards Biden.  This seemed like a red flag, and perhaps close to an example of what Klimick calls extreme fraud.

https://www.pnas.org/content/109/41/16469

[2020-11-09 06:34] charlesmartin14 commented on #17
@frycast   That's fine

I think the hump at 3 for the Biden first digit data can also be inferred just by looking at the distribution of vote counts. And that's the object to look at:  See #31

[2020-11-09 08:00] ghost commented on #27
I also had too many 0 digits first, and was wondering what on Earth was going on. However, it turned out to be a result of not having excluded Trump's many one-digit results, so you need to fix that bit in the Trump diagram above.

(Edit:) Biden also had a few one-digit results, so his number of zeros is likely a little lower than in your diagram once you fix it.

[2020-11-09 08:11] ghost commented on #31
I don't understand why that's potentially suspicious. Which distribution did you expect to see?

[2020-11-09 08:39] ghost commented on #27
Chicago, total (not only absentee):
![image](https://user-images.githubusercontent.com/74059826/98518036-1d1baf80-226f-11eb-90a8-8e1209597b39.png)

[2020-11-09 08:46] ghost commented on #27
Fulton (Atlanta) - total, not only absentee:

![image](https://user-images.githubusercontent.com/74059826/98520074-de3b2900-2271-11eb-937a-39e30564c09c.png)

There's seems to be more people in each precinct for Fulton.

[2020-11-09 08:50] ghost commented on #27
Comment: Allegheny (Pittsburgh), Fulton (Atlanta) and Chicago have a "tail" starting at about 90-95%. I am not saying that the tail shouldn't be there, but it's a little strange.

[2020-11-09 09:09] 1e100 commented on #28
I think it corresponds more to the phenomenon shown on Fig 6 in the paper you linked, that is, "not developing a plateau" of vote share for the winning candidate.

As an aside: Russia is such a great case study in election fraud. As a Russian-American, I can confirm there hasn't been a single non-falsified election in Russia since the 90s. In the 90s there was one, and then current president Yelts

[2020-11-09 09:28] snex opened #32 "Breakdown by vote type"
I am doing my own similar analysis on this, and I've noticed that if you break results down by vote type, by far the most non-conforming dataset is the Joe Biden *ELECTION DAY* results, rather than absentee or mail-in results. Please add a breakdown by vote type as well as by total. I have uploaded my datasets and code here: https://github.com/snex/election_results_benford

[2020-11-09 10:04] wongjiahau commented on #31
@testes-t Benford

[2020-11-09 10:06] ghost commented on #32
Any diagrams? Are you referring to first-digit or second-digit Benford?

[2020-11-09 10:14] testes-t commented on #28
The uptick was explained by postponed counting of mail-in ballots, which tended to favour Democrats.

Virginia had the same development.

[2020-11-09 10:17] 1e100 commented on #28
I think these are _all_ mail-in ballots after a certain point. My understanding is they counted most or all "day of" ballots first and then moved on to mail-in. I could be wrong though. Certainly something to look into. Especially hard breaks in the graphs where Biden gets what looks like improbable luck.

[2020-11-09 10:21] snex commented on #32
All of my analysis has been text-based. I looked at both first digit and second digit.

[2020-11-09 11:18] frycast commented on #31
Nope, not Benford. Benford is to do with the leading digits in the vote counts, whereas these are the vote counts themselves.

[2020-11-09 13:26] adt-automation commented on #9
@Marcotte67 One caution about your state example- you only have 51 data points (one from each state) in one time period. And no other groups to compare that within the same time period.

However, this project is looking at precinct counts and then aggregating at the county level on each digit. County level aggregation is more relevant to applying Benfords law because we have over a thousand data p

[2020-11-09 14:00] charlesmartin14 commented on #27
@testes-t   I'm having some trouble interpreting the plots..what is the y-axis ?  Can you walk us through it ?  thanks

[2020-11-09 14:23] ghost commented on #27
@charlesmartin14

A smooth normal distribution would have ~sigmoid shape. Flat curve = low frequency; Steep curve = high frequency. The y-axis shows the cumulative number of wards with a Biden vote less than the percentage shown in the x-axis.

So for Fulton, 80% Biden is less commonplace than 95% Biden. It's clearly not a normal distribution. Hypothetically, that could be due to wards being _eith

[2020-11-09 14:26] charlesmartin14 commented on #31
@testes-t  @frycast

If the voting data is, by its natural inclination, normally distributed, why should only the Biden data be this way, and only for the Election Day data ?

Here is the Absentee data
<img width="452" alt="Screen Shot 2020-11-09 at 6 08 48 AM" src="https://user-images.githubusercontent.com/498448/98551456-2fd3bb80-2252-11eb-8b6e-4d2ef54ea0e2.png">

Notice that the Biden data is m

[2020-11-09 14:31] ghost commented on #31
I have no idea, but it's possible that Republicans are less collectivist.

[2020-11-09 14:37] charlesmartin14 commented on #31
@testes-t. Something like that could be the case.  That is, say election workers for the Biden campaign went all around the city (or called during Covid), ensuring people would vote that day, and enough so that they met some kind of internal quota on "how many people called, how many people said yes, etc".

That is, they went out and physically brought them in on Election Day.

This kind of collec

[2020-11-09 15:03] ghost commented on #27
For reference, here is the same diagram for Minnesota. It looks more like a sigmoid:

![image](https://user-images.githubusercontent.com/74059826/98557642-c16c1900-22a4-11eb-85ce-1ef43dce7f10.png)

Above I seem to have explained the y-axis in a somewhat convoluted manner. The blue lines are the Biden % bars for each precinct (this time an ad-hoc precinct number is retained as text by the y-axis)

[2020-11-09 15:03] charlesmartin14 commented on #32
Interesting

Please see my comments on issue #31 on this issue

[2020-11-09 15:16] andrewzigerelli commented on #31
@charlesmartin14
Maybe for completeness, do a QQ plot as well. Also various goodness of fit tests, but keep in mind the power if you fail to reject the null.

I don't use python for these tests, but I imagine it's just as easy.

[2020-11-09 15:17] ghost commented on #27
Same plot for precincts in Hennepin County (i.e. Minneapolis):
![image](https://user-images.githubusercontent.com/74059826/98559504-fc6f4c00-22a6-11eb-93ee-99ddd1ca6dc8.png)

We see the same non-sigmoid shape as in the other cities.

[2020-11-09 15:32] ghost commented on #27
I thought it would be interesting to check a city which is not in a battleground state. The pattern is not seen in Orleans Parish (part of New Orleans). But here, note that early votes are not included due to lack of data:

![image](https://user-images.githubusercontent.com/74059826/98561190-dfd41380-22a8-11eb-89aa-72500b2db9b8.png)

Note that I could be making errors all along, none of my charts

[2020-11-09 16:07] iraykhel commented on #3
Do you mind running this comparison for Chicago and Milwaukee as well, if you have the data? I think this is probably the best claim against fraud.

[2020-11-09 16:19] ghost commented on #27
Election day votes and absentee votes for Allegheny, when seen in isolation, both seem to follow more or less a sigmoid pattern:

![image](https://user-images.githubusercontent.com/74059826/98566601-3f352200-22af-11eb-9ac7-4bda987d4d9d.png)

![image](https://user-images.githubusercontent.com/74059826/98566790-7c011900-22af-11eb-8830-03e9741ee67b.png)

[2020-11-09 16:20] ghost commented on #27
Note that my Allegheny charts are based on the file in this project, I did not collect it myself. I assume that the data is not incomplete.

[2020-11-09 16:21] charlesmartin14 commented on #31
@ndrewzigerelli

The issue I have is not that the data would satisfy a p-value or other test like this, but that, structurally, the data is far more Gaussian than heavy-tailed.

That is, if we compare the Biden Election Day vote data to  different distributions (i.e  using non-parametric K-S test) we would find that the Gaussian is the best fit

Now it could be that I am imagining things, and that

[2020-11-09 16:26] CoolOppo commented on #27
I am not understanding this chart at all. What is the Y-axis? And why are things binned the way they are on the x-axis? I am very confused

[2020-11-09 16:33] ghost commented on #27
It's a large collection of horizontal blue bars that represent Biden's vote share in each precinct. So the y-axis just counts up from precinct 1 to N as sorted by vote share.

[2020-11-09 17:35] cristi-neagu commented on #13
I don't see what this has to do with the code itself. Whether or not there was fraud or whether or not these notebooks show fraud has nothing to do with the code since the claim was never made that they show fraud. This is just a first digit analysis of the published data. It makes no interpretation.

[2020-11-09 17:40] cristi-neagu commented on #9
I think it's important to note that the repo itself makes no claim that voter fraud occurred. It is just a first digit analysis and it provides no interpretation. Now, considering the importance of the topic, i think it is useful to discuss the merits and shortcomings of the method as it pertains to voter fraud. But if these plots show no evidence of fraud, that doesn't mean there's anything wrong

[2020-11-09 17:54] charlesmartin14 commented on #9
Benford's Law rarely proves there is a fraud.  Rather, it is used to detect potential fraud, which then requires a deeper inspection.

Seems to me that the Biden data shows anomalies that could be fraud (or could be something else), whereas the Trump data has no such anomalies.

That's exactly how Benford's Law is used to help detect other kinds of fraud.  (Enron, in particular, is a famous case w

[2020-11-09 17:56] ghost commented on #9
Biden's first-digit data above, if that's what you are referring to, just shows a normal/chi squared distribution within the same order of magnitude. Other charts are more interesting.

[2020-11-09 17:58] charlesmartin14 commented on #9
@estes-t   See #31

[2020-11-09 17:59] ghost commented on #13
In science, charts are always properly discussed. Just presenting charts without any context will easily be misleading.

[2020-11-09 18:00] charlesmartin14 commented on #9
@estes-t See #17 and #31

[2020-11-09 18:20] MechanicalTim commented on #31
These two distributions look "structurally completely different" in the same way that a Poisson distribution with lambda=1 looks completely different from one which has lambda=4. The left-hand tail emerges as lambda gets larger -- or in our case as vote share grows -- and it begins to be well approximated by a gaussian. The most recent plot here masks the larger mean value, which is probably an im

[2020-11-09 18:29] CoolOppo commented on #27
I see. So if I'm getting this correct, ~225 precincts had a vote share of 48%-53% for Biden in Allegheny?

[2020-11-09 18:33] ghost commented on #27
Edit: I now see that you were talking about the histogram in the second comment from the top. Yes, you got it right.

[2020-11-09 18:50] ghost commented on #32
I looked into it. At first glance, election day results in Allegheny do not seem to deviate from what one would expect to see:

![image](https://user-images.githubusercontent.com/74059826/98583449-ae694100-22c4-11eb-915d-d27177bbffbb.png)
![image](https://user-images.githubusercontent.com/74059826/98583457-b2955e80-22c4-11eb-8dd4-fe4181e2f436.png)

[2020-11-09 18:55] ghost commented on #32
Absentee votes are optically slightly more off in the second digit (someone looked into it here: https://github.com/cjph8914/2020_benfords/issues/27 - I get a lower number of zeros than the other guy), whereas the last digit seems OK:

![image](https://user-images.githubusercontent.com/74059826/98583910-6a2a7080-22c5-11eb-9f8f-18fec34be856.png)
![image](https://user-images.githubusercontent.com/74

[2020-11-09 19:02] yurivict opened #33 "You might want to quantify the deviation of data from the Benford's law for each graph"

[2020-11-09 19:09] charlesmartin14 commented on #31
@MechanicalTim  These are great questions. And, like you, I'll come back after work to re-visit

[2020-11-09 19:38] ghost commented on #27
So from the above, I hypothesised that absentee votes in Fulton, GA could show some kind of interesting pattern, so I created the following chart:
![image](https://user-images.githubusercontent.com/74059826/98587751-dcea1a80-22ca-11eb-84bc-caeb9ec82eb5.png)

It's smooth; there doesn't seem to be anything suspicious here. I have spent quite a few hours investigating this now and didn't really find

[2020-11-09 19:45] charlesmartin14 commented on #28
There may be insights here to look at:

https://www.ntd.com/statistical-anomalies-in-biden-votes-analyses-indicate_525974.html

[2020-11-09 19:45] iraykhel commented on #27
Thank you for a detailed analysis. Do you think you can create a chart like "Biden/Harris share of votes" like in the second comment, but for 2016 election instead, so we can see how it compares? The non-decreasing tail from 70% to 97% seems iffy, I was wondering if that was also present in 2016 election.

[2020-11-09 20:10] snex commented on #31
@MechanicalTim I have been analyzing counties outside of the "suspect" ones (Miami-Dade FL and Cuyahoga OH for example), and at least when it comes to Benford 2nd digit, both major parties conform quite well. It is difficult to collect data from many counties at the precinct level, as they simply don't supply such information much of the time. If anyone is able to source this data, I would love to

[2020-11-09 20:22] snex commented on #32
You will not be able to immediately see problems in the 2nd digit by visualizations, because 2nd digit Benford is much closer to uniform. You will need to do a conformity test. I get a chi-squared value for Biden Election Day votes of 72.354. That's massive. And no - it's not due to abysmal turnout. He received 1322 Election Day votes, compared to Trump's 1237. The absentees and totals come in at

[2020-11-09 20:41] charlesmartin14 commented on #31
@snex. Can we get this additional data checked into the repo here as we collect it  ?  Thanks

[2020-11-09 20:48] snex commented on #31
It is currently in my own repo over at https://github.com/snex/election_results_benford. Feel free to pull it in here. I am using XML files where available so you may have to convert those.

[2020-11-09 20:52] tehmikey commented on #30
I should have read more before posting. However, the readme and default images need updated to reflect the conversation.
These images are being spread around the internet without the proper context.

[2020-11-09 21:58] ghost commented on #32
Could you post some charts? I don't know how to handle the files on your site.

[2020-11-09 22:14] frycast commented on #31
We know a few things about the data generating process. We know the data are discrete. We also know that the number of votes can't drop below 0.

There are (mostly) two sets of counts happening in each ward: the number of Trump supporters arriving and the number of Biden supporters arriving. That suggests we approximately have two Poisson processes in each ward, with different rates between wards.

[2020-11-09 22:17] snex commented on #32
.rb files are Ruby script files. If you have Ruby installed, all you do is run them and they'll spit out a data structure showing each candidate, vote type, and digit counts for them all, along with the chi-squared test stats. You can get Ruby at https://www.ruby-lang.org/en/

Making charts in Ruby isn't as nice as Python or R, but once you have the data you can shove it anywhere.

[2020-11-09 22:18] frycast commented on #31
@charlesmartin14 if it is true that this herding behaviour effect is playing a role, then a simple explanation could be the  massive impact of conditions related to the pandemic.

[2020-11-09 22:29] charlesmartin14 commented on #31
Sorry guys, I'm busy for the next few hours..I'm on CA time.

But , just briefly, Here's a 5 min workup of The Donald's Election Day Data

<img width="946" alt="Screen Shot 2020-11-09 at 2 27 51 PM" src="https://user-images.githubusercontent.com/498448/98603941-c6769b80-2297-11eb-9f6f-0d77a787b3c4.png">

A Poisson distribution would have an exponentially decaying tail...this data does not

The dat

[2020-11-09 22:31] MechanicalTim commented on #31
@frycast, I was using the Poisson distribution mostly as an example of a distribution that can have very different look, depending on parameters.

But I'm hesitant to think of the election as a poisson (or even poisson-like) process, mainly because I cannot wrap my head around what the analogous thing to "arrival over a time or spatial interval" is -- voting doesn't seem fit that "interval" concep

[2020-11-09 22:32] charlesmartin14 commented on #31
This data , with the Power Law exponent between 2 and 4, is consistent with a scale-invariant generating process, (subject to finite size effects).  Or  classical herding behavior. I can go into detail later but this is exactly what I mean structurally different...the tail behavior is different

And It is exactly this kind of heavy-tailed , scale-invariant behavior that the Benford's Law is testin

[2020-11-09 22:37] dhyams commented on #15
Interesting but without the data how does that help discussion?

[2020-11-10 01:37] charlesmartin14 commented on #31
Ok, so back to this

@frycast   #MechanicalTim

This is my point about Biden's Election Day voting data in this thread.  Trump is clearly not Poisson or Poisson-like (not sure what that means, but I take it to mean having a large peak at low values and an exponentially decaying tail).

But Biden's data may in fact be  Poisson or Poisson-like.  (analysis to come, although I encourage others to do t

[2020-11-10 01:44] ghost commented on #27
So, there are rumours that 130,000 invalid votes have been cast in Fulton County (Atlanta). Could be fake news, I never saw this news website before, so hard to tell: https://rfangle.com/election/breaking-132000-ballots-in-georgia-likely-ineligible/

The interesting thing is that by far the most strange chart of all I have uploaded is the one I cite below, from precisely Fulton. The chart should n

[2020-11-10 01:52] justin-winter commented on #27
One thing you might check on Fulton is that it is a really weird shape (formed from 2 other bankrupt counties in the 1930s), so it really is 3+ distinct areas with very uneven economics. It has the richest homes and best schools in mid to north Fulton and some of the poorest neighborhoods and worst schools in mid to south Fulton. So in terms of the chart, that might actually be a bimodal or trimod

[2020-11-10 03:28] charlesmartin14 commented on #31
@andrewzigerelli  Here is the QQ plot for BIden's Election Day Data

<img width="638" alt="Screen Shot 2020-11-09 at 7 27 35 PM" src="https://user-images.githubusercontent.com/498448/98624009-bb386580-22c1-11eb-83ac-c979ff2aab49.png">

[2020-11-10 03:37] charlesmartin14 commented on #31
@andrewzigerelli   Here are the QQ plots.   Great suggestion thanks

<img width="616" alt="Screen Shot 2020-11-09 at 7 39 51 PM" src="https://user-images.githubusercontent.com/498448/98624805-6269cc80-22c3-11eb-8a65-7e3f004fd9c8.png">

[2020-11-10 04:47] charlesmartin14 commented on #31
And here is the same data for Hilary, 2016

Seems to have the same pattern as Biden 2020, but 1/2 the voter turnout

<img width="569" alt="Screen Shot 2020-11-09 at 8 46 13 PM" src="https://user-images.githubusercontent.com/498448/98629089-f5f3cb00-22cc-11eb-9546-6764d1b1bafa.png">

[2020-11-10 04:53] panicfarm commented on #31
Is there counts distribution for other candidates in the same district in 2016?

[2020-11-10 05:06] charlesmartin14 commented on #31
This ?

<img width="517" alt="Screen Shot 2020-11-09 at 9 05 26 PM" src="https://user-images.githubusercontent.com/498448/98630187-6ac80480-22cf-11eb-8688-edeaa07c3247.png">

[2020-11-10 05:43] panicfarm commented on #31
yes. it looks more Gaussian than Trump's, with a distinct peak at 200. In 2020 there was a similar peak at 100. What is special about these counts (100 in 2020 and 200 in 2016)?

[2020-11-10 12:13] markr-github commented on #17
frycast, you seem right.

With most precints >500 voters, winners' counts will generally start with 2 or more so *anyone* who wins many counties won't look like Benford's Law. If you want to apply Benford, then I'd apply Hitchens and say you need to demonstrate that the numbers *should* follow it; “That which can be asserted without evidence, can be dismissed without evidence."

Here are the Alleg

[2020-11-10 14:27] ghost commented on #27
It's not anywhere close to Gaussian. Why are there so few precincts at the median, around 80%? And why do we see this pattern in Fulton, but not in Orleans?

[2020-11-10 14:37] ghost opened #34 "I need a solution. Inforgot my passcode to iCloud, and I tried to guess Many times and now is activation lock. Helllpppppppp"

[2020-11-10 14:47] charlesmartin14 commented on #17
@markr-github   That's very interesting.  Let me suggest plotting the vote count distributions themselves.

 Benford's Law data is heavy-tailed, but heavy-tailed data may not be Benford.

We can see if the data is heavy-tailed or not by looking at plots of the vote count distributions

 (and by checking the tail statistics; you can use the powerlaw packages in R or python to do this)

*Also, can y

[2020-11-10 15:07] charlesmartin14 commented on #31
@panicfarm   That's a good observation...and why are there these large outlier peaks  ?  Are these statistical fluctuations or structural anomalies?  Not sure

I didn't check Trump's data for 2016 but I assume is a Truncated Power Law like 2020, not Gaussian.

With regard to using Benford's Law, I think we need to generalize the approach to the constraints on the data we have in voting.

 I suspec

[2020-11-10 15:35] charlesmartin14 commented on #28
@1e100 How many data points are in the time series?

[2020-11-10 15:41] charlesmartin14 commented on #28
And do we have data like this ?  Votes per batch number ?

![image](https://user-images.githubusercontent.com/498448/98696011-23ba2d80-2328-11eb-8ce7-5979e70b0747.png)

[2020-11-10 15:42] charlesmartin14 commented on #15
@dshield55

https://www.thegatewaypundit.com/2020/11/breaking-exclusive-system-glitch-also-uncovered-wisconsin-reversal-19032-votes-removes-lead-joe-biden/

[2020-11-10 15:50] Enclavet opened #35 "2BL test more appropiate for appropriate for election fraud"
Just wanted to throw in my 2 cents considering this github is being used by some poeple on social media to advance their agenda. I'm probably gonna run 2BL tests unless someone already has. Just wanted to throw out this article also regarding the fallacy of using first-digit BL tests on election data:

http://www-personal.umich.edu/~wmebane/inapB.pdf

[2020-11-10 15:55] charlesmartin14 commented on #35
@Enclavet   That's a good find.

[2020-11-10 15:59] charlesmartin14 commented on #28
Here's a great plot from Wisconsin.  I don't have the raw data yet...do we ?

![image](https://user-images.githubusercontent.com/498448/98698178-9c21ee00-232a-11eb-981b-f89ee6c2ce87.png)

[2020-11-10 16:06] markr-github commented on #17
@charlesmartin14
Didn't see anything in the vote distributions, total votes per precinct etc that say Benford's should apply to these numbers.

Not in a notebook, but the code and data are here:
https://github.com/markr-github/benford-election

[2020-11-10 16:18] charlesmartin14 commented on #17
@markr-github. Thanks I'll take a look after work today.

I think what we have learned so far is that when we see deviations from Benford's Law, the data is clustered around a high (say 100-200 votes).  I'm just a bit surprised that in the cases I have looked at so far (Biden's Election Day data for Allegheny) the data appears nearly perfectly Gaussian and not seemingly heavy-tailed (i.e Biden's A

[2020-11-10 16:19] ghost commented on #34
Call your son.

[2020-11-10 16:34] markr-github commented on #17
@charlesmartin14
Seems like a different topic to the Benford issues?

That relationshpi between turnout vs margin is exactly what I would have guessed beforehand so it doesn't surprise me.

In every US presidential election with data, the highest-turnout ethnic group has been "white non-hispanic":
https://www.statista.com/statistics/1096113/voter-turnout-presidential-elections-by-ethnicity-histori

[2020-11-10 16:38] markr-github commented on #9
Posted to #17 but also relevant here: I'm confident we shouldn't expect these data to follow Benford's rule, it's just what happens when you get >40% of the vote in a lot of precincts of 500+ people. If you look at the Allegheny precincts that Trump won (upper right of figure below), his vote count also violates the rule, but I don't think that's evidence that those precincts were committing fraud

[2020-11-10 17:09] charlesmartin14 commented on #17
@markr-github

I asked the question because I see Benford's Law as a statistical test for heavy-tailed behavior, characteristic of natural (i.e. not fake) data.  I agree, I don't think it can be interpreted using a  _naive approach_ However, there are other tests for heavy-tailed behavior, more suitable to finite-size systems, that might prove more useful here.

  The simplest of these is to fit t

[2020-11-10 17:30] dlb8685 opened #36 "The average ward in Milwaukee has 750 votes, how would Biden have 100-200 in 30% of wards?"
This repo's use of Benford's Law is so misleading that it discredits other claims of fraud more generally.

- If you pull the data from Milwaukee city, the average ward has 755 votes. Biden wins an average of 595 votes per ward. Obviously if this is true, his first-digit distribution is going to be skewed towards the 4, 5, 6 range.
- Only 20.5% of wards had over 1,000 votes, and 2.1% of wards had

[2020-11-10 17:33] charlesmartin14 commented on #17
@frycast

And notice...Taleb  also used normal random data as an example of Benford

https://twitter.com/nntaleb/status/1326212740273278978

This seems qualitatively correct.

I don't think it's helpful, however, to chime in.   I prefer to avoid a flame war on Twitter.

There are lots of smart people here and  I think we should just figure this out ourselves. Maybe there is something here, maybe n

[2020-11-10 17:40] charlesmartin14 commented on #9
@markr-github   good stuff

[2020-11-10 18:12] ghost commented on #36
Yes. If you look around in the threads, everyone agrees with you. We have moved beyond first digits and tried to look at second digits, but this is also questionable for several reasons.

There's also a few threads that search for other statistical anomalies in the election data.

The README.md file should be updated.

[2020-11-10 20:39] tomdotcash opened #37 "Data from multiple providers?"
Has there been any comparison of results for the race with data from different providers? E.g, compare NYT Edison vs Clarity Elections for Georgia or Fulton County

For what it's worth, I created a simple project to download data from NYT, perhaps it could one day be an option for this repo's analysis:

https://github.com/tomdotcash/election_data

[2020-11-10 20:40] chavenor commented on #17
This just hit the web.   Do we have a way to check this or comment on it?   Do we need to open another issue?
https://www.pscp.tv/w/1BdGYYjgkgQGX

[2020-11-10 21:01] MechanicalTim commented on #17
I would encourage anyone planning on watching that video to read Dr. Shiva Ayyadurai's Wikipedia page as well. Here are the first few sentences, for your convenience:

V. A. Shiva Ayyadurai (born Vellayappa Ayyadurai Shiva,[2] December 2, 1963)[3] is an Indian-American scientist, engineer, politician, entrepreneur, and promoter of conspiracy theories and unfounded medical claims. He is notable for

[2020-11-10 21:01] dogweather commented on #9
@markr-github Fascinating, thanks!

[2020-11-10 21:06] chavenor commented on #17
@MechanicalTim agreed.    Can the data be grabbed and can we run this on our own to either confirm or deny the outcome?

[2020-11-10 21:23] paras20xx commented on #36
Some more graphs are generated at https://github.com/paras20xx/benford-law-2020-us-election#milwaukee-wisconsin-sample-size-478 with different bases.

For other bases (3 to 10) there are odd patterns for Milwaukee (Wisconsin) and Chicago (Illinois).

For Washington, the pattern when checked through multiple bases seems fine.

For various other locations, graphs are there, but the sample size is no

[2020-11-10 21:40] paras20xx commented on #37
@tomdotcash
Are you able to identify/parse that data to the smallest possible level (precinct/ward level)?

The more the sample size (and smaller the numbers), the better. I'm experimenting with different bases (have generated some graphs at https://github.com/paras20xx/benford-law-2020-us-election).

Till now, I have been referring to data from official sites (via https://github.com/paras20xx/ben

[2020-11-10 21:48] charlesmartin14 commented on #17
@chavenor We should try to get the data ourselves.  I would also suggest to  reach out to the researcher at MIT

[2020-11-10 21:49] chavenor commented on #17
@charlesmartin14 I'm way ahead of you.  Already asked on Twitter.  Who was the guy from MIT?   Did they have their info on that presentaiton?
![ok-fine](https://user-images.githubusercontent.com/1850981/98737845-73224d00-236c-11eb-9b60-6f38dbad7e99.png)

[2020-11-10 21:57] charlesmartin14 commented on #17
Another idea--if anyone wants to try it

Since we can't use Benford directly for this data...we could try computing the correlation matrix of the first digit counts for all the data, and then examining the empirical spectral density (i.e histogram of the eigenvalues of this matrix)

[2020-11-10 22:02] chavenor commented on #17
I found the other guys and reached out on LinkedIn.  Hope they can share their data with us so we can double-check it.

[2020-11-10 22:05] alexsullivan114 commented on #17
@chavenor For reference, Dr. Shiva Ayyadurai ran for the senate as a Republican in Massachusetts. He's considered a bit of a joke over here.

[2020-11-10 22:10] charlesmartin14 commented on #17
@alexsullivan114   It doesn't matter.  What matters is getting data and doing our own honest analysis.

[2020-11-10 22:10] chavenor commented on #17
@alexsullivan114 there seems to be a trend that anyone that is anti-establishment gets the "crazy stamp" -- I've moved beyond that prism.

They made claims.   I've asked for the data.  If we get it and can verify the results then that is all the proof we should need.

I didn't see that @charlesmartin14 already responed.  Tossed ya a thumbs-up happy to have your input.

[2020-11-10 22:22] markr-github commented on #36
What do you mean by "seems fine"?

[2020-11-10 22:23] alexsullivan114 commented on #17
Sure - totally fair. I was just trying to add some context about who this person was - of course the data should stand on its own.

[2020-11-10 22:28] paras20xx commented on #36
@markr-github

If you go to https://github.com/paras20xx/benford-law-2020-us-election/tree/main/dump/washington/vote-count and see all the graphs, the pattern for Washington seems fine (as in no out-of-ordinary patterns).

For other locations, like: Chicago, Milwaukee and San Francisco, the data has discrepancy across different bases (Expand the graphs at https://github.com/paras20xx/benford-law-2

[2020-11-10 22:33] charlesmartin14 commented on #17
@alexsullivan114

There are 3 people presenting, one of which is a state election commissioner.
https://www.shelbyvote.com/team/bennie-smith

Remember also that there are claims that some media companies like Twitter, CNN, etc. are actively censoring information claiming to be (potential) evidence of fraud.  So he may be forced to go 'underground' , so to speak.

The data should speak for itself

[2020-11-10 22:34] MechanicalTim commented on #17
It seems to me that the Shiva stuff is a case of deliberately deceptive plotting.

They display plots using the following data:

- fraction who voted "straight Republican" (but guessing this means for non-Prez races?)
- fraction who voted for Trump

If we posit that people who are more likely to vote straight Republican are more likely to vote for Trump, then the _mean_ percentages voting for Repu

[2020-11-10 22:35] charlesmartin14 commented on #17
This should be moved to another thread

[2020-11-10 22:59] chavenor opened #38 "Election Fraud Data Check of Dr. Shiva"
We have made requests to get the data sets to check the following video.   Once, if we get the data I will post it here.

See the video below.
https://www.pscp.tv/w/1BdGYYjgkgQGX

[2020-11-10 23:02] chavenor commented on #17
@MechanicalTim I do not believe that is what they are saying - I took - Straight ticket as assuming that all Republicans vote for Trump and as a precinct gets more Republican you would expect that the number would be at 0% not down -25%.   Also, this does play into the discussion above about lower Dem turnout and trying to figure out where the votes came from.

I'll wait for the data so can just s

[2020-11-10 23:29] MechanicalTim commented on #38
Agree that it makes sense for this to have been a new issue from the start. But I would also suggest that if folks are going to read this issue, they start from the initial posting of this video [in this comment from the prior thread](https://github.com/cjph8914/2020_benfords/issues/17#issuecomment-724953908).

Something I find implausible (or maybe just don't understand) about their claim: Wouldn

[2020-11-11 00:20] ghost commented on #38
1.
He spends one hour showing three slides that could just as well be interpreted like this: Suburban republicans don't like Trump, inner city Democrats like Trump. If these groups don't agree on politics, then why should they agree on Trump? It's a very interesting pattern, but these three slides are no proof of cheating. Note that the selected x-axis range on the Detroit chart is different from

[2020-11-11 00:33] ghost commented on #36
@paras20xx
Please see the first post in this thread for an explanation to the "anomalies": https://github.com/cjph8914/2020_benfords/issues/9

In addition:
https://github.com/cjph8914/2020_benfords/issues/36
https://github.com/cjph8914/2020_benfords/issues/35
https://github.com/cjph8914/2020_benfords/issues/30
https://github.com/cjph8914/2020_benfords/issues/17
https://github.com/cjph8914/2020_ben

[2020-11-11 00:49] charlesmartin14 commented on #38
@testes-t   These claims will never stop unless enough people are willing to demand transparency and check the data

[2020-11-11 00:57] ghost commented on #38
@charlesmartin14 Say that I uploaded the charts I made to the "thedonald.win" thread on the data I spent my precious time analyzing, a thread which is now going through the roof. My sober analysis would probably be downvoated into oblivion because it concludes that it's not evidence of election fraud, which means that only few people would see my analysis. Social media like this forms hysterical c

[2020-11-11 01:14] MechanicalTim commented on #38
One also has to consider the opportunity cost of one's time. These things can be endless diversions from more fruitful work.

[2020-11-11 01:21] charlesmartin14 commented on #38
@testes-t   @MechanicalTim   I hear you, it is time-consuming.  I think the group here has made good progress. This issue isn't going away anytime soon.  People may be arguing this for years to come. Eventually, I think we should summarize the findings (in a README, or maybe even Jupyter Book).  Good work always speaks for itself.

And hopefully, everyone has learned something that might even be u

[2020-11-11 01:46] charlesmartin14 commented on #38
@testes-t @MechanicalTim   That said, it might be more fruitful to look for anomalies in places where there are actual allegations of ballot tampering and other fraud, and verified in signed affidavits.

[2020-11-11 02:08] MechanicalTim commented on #38
Or, if one is reasonably convinced that we indeed had a fair election, one could ignore these (weak, in my opinion) claims of fraud completely, and instead focus one's attention on any number of other worthy efforts to preserve U.S. democracy, instead of tacitly participating in this doubt-raising exercise.

I realize that not everyone participating in these issues is in that camp, but it is unnec

[2020-11-11 02:25] charlesmartin14 commented on #38
@MechanicalTim   I meant this contrast to, say, trying to debunk random claims on the internet,

The current Trump legal claims against the election results are not necessarily based on fraud,
The claim in PA, as I currently understand it, is about equal treatment under the law and is based on the precedent(s) set in  Bush V Gore.  I think the issue of fairness will most likely be decided by the c

[2020-11-11 07:51] MechanicalTim commented on #38
@chavenor wrote:

Ah, I see what you mean, and agree with your interpretation. But it turns out that this only reinforces the point. Shiva sets the expectation that the straight horizontal line (in his plot) is the "norm", and any deviation from that is suspicious. But I don't think that is the case.

For example, if you find a county where, say, 70% of Republicans vote for Trump, and 10% of Democ

[2020-11-11 08:54] frycast commented on #38
Basically, by putting `Republican% - Trump%` on the y-axis, and `Republican%` on the x-axis, the negative linear slope is just telling us that `Trump%` is on average a constant multiple of the `Republican%`, where the constant is something less than 1.

It's like, trick number 1 from the book on how to make a positive slope look negative.

[2020-11-11 10:06] markr-github commented on #36
@paras20xx
I think you're referring to how Biden's numbers don't follow Benford's when you look at similar-sized precincts in areas that he won. You'd need to show this is "out-of-ordinary", when it's what I'd expect from competitive races when most precincts are around 500. See the response by @testes-t

[2020-11-11 10:29] markr-github commented on #36
Further UK results, showing how in the 2015 general election the Conservative votes don't follow Benford's rule, and in the 2016 Brexit referendum neither side did. This is just what close election results with similar-sized voting areas look like and is *not* evidence of fraud by Conservatives or pro-Brexit people.

![UK_2015](https://user-images.githubusercontent.com/74244234/98800739-b631fe00-2

[2020-11-11 11:28] snex commented on #35
I have been doing 2BL tests over at my repo https://github.com/snex/election_results_benford, just no fancy graphs.

I just uploaded a simulation (sim.rb) to run random-ish election results and while they don't conform perfectly to 2BL (sometimes I get >20.0 chi-squared test stat), most of the time they do conform and I have never gotten a result anywhere near some of the chi-squared numbers Biden

[2020-11-11 11:30] snex opened #39 "Add a Way to Simulate an Election With Given Parameters"
It would be nice to be able to run simulated elections and then see if the results of those elections (which we know are fair) conform to Benford's Law whether 1st digit or 2nd digit. I have a quick and dirty start here https://github.com/snex/election_results_benford/blob/master/sim.rb

[2020-11-11 11:53] JivanRoquet commented on #13
@szabolcsvelkei makes sense. I'm personally 99% certain that there was indeed massive fraud from the Dems side, but I agree with you on all the points you made. Notably I'm absolutely not convinced that Benford's law can be used the way it is used here, let alone be a sufficient argument to jump to any kind of conclusion.

Furthermore I would actually point that if fraud there was, then using spur

[2020-11-11 13:02] ghost commented on #36
It's the same story with second-digit analysis, except perhaps in a less pronounced way. Benford's Law should not be expected to be valid whenever the numbers follow a distribution with an expected value above 0 (or, for non-zero values, above 1). For instance, if the expected value is 15 +/- 1, then the second digit will always be 4, 5 or 6. And if the variance is larger, there will still be an o

[2020-11-11 14:28] robscovell-ts commented on #31
That could kinda work if you are considering a normal voting scenario where people vote in person, although factors like voting before or after work would result in non-Poisson clusters. However, the disputed votes are postal votes, which invalidates use of a Poisson model for those votes.

[2020-11-11 15:29] charlesmartin14 commented on #31
@robscovell-ts   The issue I am raising in this thread is that I don't see why real voting data like this would ever be Poisson (or Gaussian).   it should be heavy-tailed, even if it's not Benford.

Compare the Biden 2020 Election Day (not postal) data with the Hilary 2016 data.
<img width="542" alt="Screen Shot 2020-11-11 at 7 05 25 AM" src="https://user-images.githubusercontent.com/498448/988310

[2020-11-11 15:51] charlesmartin14 commented on #31
Here's the data for the Trump vs Biden winning in their own districts

### Trump data in the Trump winning Districts; Biden data in the Biden districts

I think this is consistent with the data in #17 presented by @markr-github, where the Biden data is  Benford-like in the Trump winning districts.

Notice that the Trump data, however, does have a long tail in the Trump winning districts, despite i

[2020-11-11 16:07] chavenor commented on #38
@testes-t I would say that there is an absolute abnormality in that graph.  I'll wait for the data to duplicate results. #2 issues yes it's frustrating but that is no reason to stop looking for the truth.   If you are burning out, sit back, get a cup of tea and recenter we will press on. We're happy to have you back anytime.  :)

@frycast and @MechanicalTim I read both your posts.   **I'm not past

[2020-11-11 16:27] MechanicalTim commented on #38
@chavenor wrote:

This statement is demonstrably false. Even if Trump takes ***90%*** of Rep votes, and 10% of Dem votes (on average), the Shiva plot will slope downward (on average). Here is the formula for the Trump share, as a function of the precinct's Rep fraction:

trump_share = 0.9 * repub_precinct_percentage + 0.1 * (100 - repub_precinct_percentage);

Here is the resulting graph:

![Shiva

[2020-11-11 17:30] chavenor commented on #38
@MechanicalTim you are correct with your information regarding a full look at all votes.   This is not what is being pointed out in the video.   They are only looking at specifically Replucian votes, not the whole lot.  Below is what I'm taking away from the presentation.

Per the presentation, we do not see the linear dip start until we have precincts with 20% republican support and that is where

[2020-11-11 17:45] RexRookie commented on #38
To plot the graphs, the calculation at 20:30 of the video is given as (with RSP= Replublican Straight Party votes, TICV= Trump Individual Candidate votes):
X=RSP, Y= TICV - RSP= TICV - X.
TICV and RSP should be correlated on average, so TCIV= aRSP+b on average, with some random deviations.
Then Y=aRSP+b -RSP= (a-1)RSP+b= (a-1)X + b.
Therefore the slope of Y vs X is a-1, a straight line going down

[2020-11-11 18:00] MechanicalTim commented on #38
@chavenor wrote

At 21:05 in the video, Shiva states that they are plotting _all_ Trump votes: Rep, Dem, and Independent.

[2020-11-11 18:14] chavenor commented on #38
@MechanicalTim yes that is correct but they are comparing that to the expected party-line vote based on the % of republicans in that district.   That is why in the precincts with less than 20% it is odd to see Trump doing better than 0% meaning he was more favorable there with non-R voters.

[2020-11-11 18:45] charlesmartin14 commented on #36
@dlb8685  These are good insights, thanks.   I don't think a lot of people here have thought much about election data until about a week ago.  These things take time to dig into, and people have full-time jobs and families, so it really takes a group effort.

Please see #31  A deeper dive shows some funny results that could use some insights

Specifically, why is the Biden Election Day vote distri

[2020-11-11 19:19] MechanicalTim commented on #38
Why is that odd? Suppose there is a precinct with 1000 voters, and very few Republicans, say 100 of them. (That's 10% on the x-axis.) Using my assumption above that 90% of those voters cast their ballot for Trump, that's 90 Trump votes from Republicans.

Out of the 900 remaining (mostly Dem, but of course some independent) voters, if more than 90 vote for Trump (or maybe it needs to be 100?), then

[2020-11-11 19:20] charlesmartin14 commented on #39
@snex. See work by Mebane--this is exactly what he does
http://www-personal.umich.edu/~wmebane/pm19.pdf

https://www.youtube.com/watch?v=zkx_eO0PvXU

Please note:  random normal / choice  data is  not Benford so this has to be done with some care

[2020-11-11 19:42] chavenor commented on #38
@MechanicalTim anything above 0% is interesting because it means Trump is carrying more votes outside of his party and that advantage completely drys up as you move into larger republican strongholds.

We need more data and I've made a request for all the vote data for all precincts for the USA.
I also reached out to the GOP and DNC to get voter registrations in the same format.

I will return wit

[2020-11-11 19:44] bd271828 opened #40 "Starting and working on new repository"
https://github.com/bd271828/2020_election

[2020-11-11 20:36] snex commented on #39
Where can we find his code? Feel free to issue a pull request on my repo correcting what you believe needs to be corrected.

edit:

So I found his code here: https://github.com/UMeforensics/eforensics_public

I am playing around with it, and it seems like it does not support variable size precincts ("election units" in his terminology). Even so, I keep getting 2BL chi-squared values between 20 and

[2020-11-11 21:37] homage-admin commented on #38
@testes-t I agree this Benford stuff is bunk. Check this out: https://github.com/stunnashades/ga-discrepancies/blob/main/report.md . Not a smoking gun, but interesting

[2020-11-11 22:43] flying-sheep commented on #36
Gaussian is expected if most vote counts are between 10^x and 10^(x+1), as that makes the first-digit histogram degrade to a histogram of the data itself.

E.g. if we have most vote counts between 100 and 1000, “first digit = 1” basically means “100 ≤ vote count < 200” and so on.

The same applies for other bases, the key is that the variance isn’t high enough.

[2020-11-11 22:49] RexRookie commented on #17
It's exactly what happens with their plots, that's the whole story :) Well said.

[2020-11-11 23:01] charlesmartin14 commented on #36
@flying-sheep     Yes, but I'm am getting at something else.

To me, it's not the vote counts that matter, it's the size of the districts where the vote counts can occur. When the districts are small, like in voting, we can't always apply Benford's Lqw.  But I suspect we can stil say something.

  In the case I show, the Trump data is heavy-tailed, both in 2020 and in 2016, indicating that there a

[2020-11-12 00:06] chavenor commented on #17
https://github.com/stunnashades/ga-discrepancies/blob/main/lean-vs-delta.png

[2020-11-12 00:29] chavenor commented on #38
Damit you guys have to pull me back in.  @stunnashades do I have this right?

- Previous 2016 low Trump energy precincts show favoritism to Trump in early voting.
- While higher 2016 support for Trump early voting dropped by 10%-30%.

Everything below can't be true.  I'm super curious to see how Biden found his path to victory.
- High R turnout.
- High R enthusiasm
- Low D turnout
- Low D enthusia

[2020-11-12 01:09] ghost commented on #38
In the charts at the bottom we can see what I have previously pointed out for Allegheny and Chicago: There are two clusters. Questions:

1. Why are there two clusters?
2. One of the clusters is strangely consistent at about 93-95% Biden vote regardless of turnout. Why?
3. Why isn't there a single data point at 97-98% for 2020 when the cluster at 93-95% is just next to it?

[2020-11-12 01:38] testes-t commented on #38
Another "red alert" over at thedonald.win, this time it's about Minnesota.

https://thedonald.win/p/11Q8Sn1ueO/-red-alert-they-stole-minnesota-/
https://streamable.com/vd158c

In the Streamable file you can see how someone doesn't understand (1) rounding, and (2) corrections. For an example of (2),  go to 04:00, where he talks about how "they" have intervened in line 53. Now take a look at line 44

[2020-11-12 01:46] snex commented on #38
Can people please stop abusing the Issues section of a github project to try to discuss things that are not related to that project? If people are posting false information on a website, go debate with them on that website or open issues on the github hosting that code. This project has nothing to do with that.

[2020-11-12 03:14] homage-admin commented on #38
Way I'd say it: Trump 2016 had a lot of counties with *both* high turnout and favoritism. In 2020, those were gone.

Now there's two possibilities. Maybe they had big-orange energy in 2016, and got let down. Or maybe they painted a big fat target on themselves, and there was some f\*\*\*ky-f\*\*\*ky this  year.

We still don't know - but we might know where to look.

[2020-11-12 04:05] charlesmartin14 commented on #36
@flying-sheep see #31. The other issue

Why does the Biden Election day data show a high mean in districts where Trump won ?

That is, it seems that the Biden data in the Trump-winning districts should look Benford-like
Instead, the data looks Gaussian

[2020-11-12 09:38] markr-github commented on #36
@charlesmartin14  I don't get it, don't you need to show that the numbers *should* follow Benford before there's any reason to be suspicious about wards in Pittsburgh or Milwaukee returning a reasonable number of Democratic votes?

This is basically saying: there are not many urban districts where Trump blew out Biden with 60-80 % of the vote. That sounds like reality.

Here are the Brexit results

[2020-11-12 13:57] charlesmartin14 commented on #36
@markr-github   I would say  "_could_ follow Benford ..."    And it when it could, it should.

So we need to _test our test_  to make sure we can apply it

I'm saying is that natural data should be heavy-tailed.  Benford's Law is 1 test for that.  It's not the only test.  And not being Benford is not enough to stop testing.

These are the tests I would take:

**test 1:** **could it be Benford ?**

[2020-11-15 15:21] bd271828 opened #41 "1,2,3 digit Benford plots for Texas (2020 to 1992 presidential elections) using county aggregated counts"
https://github.com/bd271828/2020_election/tree/main/plot/tx

[2020-11-16 01:22] zsh commented on #41
what's the conclusion from your charts?

[2020-11-16 17:14] chavenor commented on #37
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:14] chavenor commented on #4
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:14] chavenor commented on #22
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:14] chavenor commented on #15
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:14] chavenor commented on #14
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:15] chavenor commented on #6
https://www.fec.gov/introduction-campaign-finance/how-to-research-public-records/combined-federalstate-disclosure-and-election-directory/.

[2020-11-16 17:40] chavenor opened #42 "Strongest Evidence there was election fraud."
If this is too off base from the data delete it.   I came here searching the truth and I'm convinced there was voter fraud, a claim I do not levy lightly.  I am not an attorney and I recommend everyone read the entire docket below.

Source:
PA Courts - I would recommend everyone reading all of this.
https://www.courtlistener.com/docket/18618673/donald-j-trump-for-president-inc-v-boockvar/

Issue:

[2020-11-16 18:11] bd271828 commented on #41
I think it is interesting to see the 1BL plots across the candidates, parties, and outcomes. This is probably not surprising given the so-called spread in counts many have alluded to. No conclusions at the moment and at best only an empirical point of reference.

[2020-11-16 20:41] bd271828 commented on #41
To follow-up. FWIW (not to be political), given all the chatter about Dominion, the voting systems used in Texas are:
Election Systems & Software and Hart Intercivic (majority) + a few Premier Election Solutions [1]

We can see the usage from the certification reports [2]. As most are probably already aware of, we also see Dominion was denied on multiple occasions [3].

[1] https://www.sos.state.t

[2020-11-21 20:13] chavenor commented on #38
@frycast and @MechanicalTim I got clarity on the inputs.  Your observation of "Straight Vote Republican" vs what I thought was "% of Republicans" in the district was correct. the anomaly alleged isn't such.   You are correct.

[2020-11-26 02:30] charlesmartin14 commented on #31
I have a working hypothesis now for why this data might be Gaussian in case of fraud.
It has been suggested that the Biden election day votes were changed into mail-in votes in order
to make the distribution of fake mail-in votes seem more realistic.    if this was done naively,
then it would have been done in such a way as to leave the election day data to look random
5Gaussian, instead of the mo

[2021-10-28 04:19] #34 closed, assigned to nobody